<%include('../../common/html/head')%>
<title>我的回复</title>
<style media="screen">
	<%include('./css/reply.css')%>
</style>
</head>
<body>
	<%include('../../common/header')%>
	<%include('../../common/navgation')%>
<div class="auto">
<div class="right-position"><a href="/account">用户中心</a> ><a href="#">回复我的</a></div>
<div class="content2">
			<%include('../../common/account/navgation')%>
	<div class="contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
			<ol class="clearfix">
				<li class="nav12 fl"><a href="/account/comment/comment">我的评论</a></li>
				<li class="nav11 fl"><a href="javascript:;">回复我的</a></li>
			</ol>
		</div>
		<div class="cont-big3" align="left" >
			<div class="cont-big301">
			<form action="">
				<input type="checkbox" name="checkbox" value="全部"/>全部
				<input type="checkbox" name="checkbox" value="产品评论"/>产品评论
				<input type="checkbox" name="checkbox" value="店铺评论"/>店铺评论
				<input type="checkbox" name="checkbox" value="资讯评论"/>资讯评论
			</form>
			</div>
			<ul class="cont-big302 cont-huifu" id="wjtreplylist">
				<li v-for='obj in list'>
					<h2 class="cont-title"><a href="/{{obj.type}}/{{obj.objId}}" target="_blank">{{obj.title}}</a></h2>
					<div class="cont-huifu1">
						<h3>回复 我的评论：{{obj.content}}</h3>
						<div class="cont-huifu01" v-for='rep in obj.replys'>
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td width="48"><img src="/images/default/touxiang.jpg" alt="" width="32" height="32"/></td>
								<td>{{rep.user.name}}<br/>
								{{rep.comment.content}}
								</td>
							</tr>
						</table>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="pages" id="wjtlistpage"></div>

</div>
</div>
<%include('../../common/footer')%>
<%include('../../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>
<script type="text/javascript">
	<%include('./js/reply.js')%>
</script>
</body>
</html>
