<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>邮箱验证-北京北京</title>
<link href="style/default.css" rel="stylesheet" type="text/css"/>
</head>
<style>
<%include('./css/safe.css')%>
</style>
<body>
<div class="kong63"></div>
<div class="auto">
 <div class="meb-info">
 <!-- meb-header -->
	<div class="meb-header">
		<div class="logo fl"></div>
		<div class="meb-header-right">
		 <span class="fl">验证身份</span>
		 <span class="fr">
			您好:大**** <span class="xian">|</span><a href="#">用户中心</a> <span class="xian">|</span> <a href="#">退出</a>
		 </span>
		</div>
	</div>
	<div class="meb-xian"></div>
	<div class="meb-cont">

		<div class="meb-cont-list1 meb-cont-list2">
		<h2 class="meb-step"><b>验证身份</b><span class="step-ico">>>></span>邮箱验证<span class="step-ico">>>></span>完成</h2>
			<form action="">
				<div class="meb-list1-div">
					<label for="">您的邮箱：</label>
					<font color="#777">dayankedou@163.com </font><input type="submit" class="code-int" value="获取邮箱验证码"/>
				</div>

				<div class="meb-list1-div">
					<label for="">邮箱验证码：</label>
					<input type="text" class="int-ab"/>
				</div>

				<div class="meb-list1-sub">
					<input type="submit" class="btn-ab" value="确定"/>
					<a href="#">返回选择其它验证方式</a>
				</div>
			</form>
		</div>
	</div>
 </div>
</div>
    <%include('../common/footer')%>
    <%include('../common/base')%>
</body>
</html>
