<%include('../common/html/head')%>
<title>个人资料</title>
<style media="screen">
	<%include('../common/plugs/croppic/croppic.css')%>
	#wjtproimg img{width: 144px;}
</style>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">
<%include('../common/account/navgation')%>
	<div class="contentbig min-contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav12 fl"><a href="/account/information">基础信息 </a></li>
		    <li class="nav11 fl"><a href="javascript:;">个人资料</a></li>
		    <li class="nav12 fl"><a href="/account/pay_setting"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/remind_setting">提醒设置 </a></li>
		    <li class="nav12 fl"><a href="/account/share_setting"> 分享设置</a></li>
		  </ol>
		</div>

		<div class="contentbig2" align="left">
			<font class="font5">亲爱的 <%if (info&&info.login){%><%=info.login%><%}%>，填写真实的资料，有助于快传更好的为您服务。</font>
			<br/><form id="wjtform" action="/account/data/_api/update" method="post">
			<table width="924" cellspacing="0" cellpadding="0">

			<tr>
				<td height="40" valign="top">&nbsp;
				</td>
				<td>&nbsp;

				</td>
			</tr>
<!--			<tr>
				<td height="40" valign="top">
					当前头像：
				</td>
				<td>
					<div class="picture" id="wjtproimg">
						<img src="<%if (info&&info.portrait){%><%=info.portrait%><%}%>" width="144" alt="" />
					</div>
					<input type="button" id="wjtproimgipt" value="上传">
					<div>
					</div>
				</td>-->
			</tr>
			<tr>
<!--				<td height="40">
					昵称：
				</td>-->
<!--				<td>
					<input name="name" type="text" id="textfield6" size="40" value="<%if (info&&info.name){%><%=info.name%><%}%>"/>
					<br/>
					<span class="fontgrey">昵称填写须知：与北京业务与卖家品牌冲突的昵称，北京将有可能收回。</span>
				</td>-->
			</tr>
			<tr>
				<td width="121" height="40">
					真实姓名：
				</td>
				<td width="841">
					<input name="realName" type="text" id="textfield5" size="40" value="<%if (info&&info.realName){%><%=info.realName%><%}%>"/>
				</td>
			</tr>
			<tr>
				<td height="40">
					性别：
				</td>
				<td>
					<input type="radio" name="gender" value="0" <%if(info&&info.gender==0){%>checked<%}%>/>
					<label for="radio" >男
           &nbsp;&nbsp;
					<input type="radio" name="gender" value="1" <%if(info&&info.gender==1){%>checked<%}%>/>
          女
					</label>
				</td>
			</tr>
			<tr>
				<td height="40">
					生日我的快传
					账号管理
					基础信息安全服务个人资料
					我的收藏
					收藏的产品收藏的店铺收藏的评测
					评论管理
					我的评论回复我的
					基础信息 安全服务 个人资料 我的支付设置 个人交易信息 收货地址提醒设置 分享设置
					商家提醒	 	 	 	邮件	 	旺旺	 	手机
					商品管理提醒
					商品发布时通知我

					商品被修改时通知我

					当商品被管理员删除时通知我

					当商品被管理员下架时通知我
					交易提醒
					商品发布时通知我

					商品被修改时通知我

					当商品被管理员删除时通知我

					当商品被管理员下架时通知我
					当商品被管理员删除时通知我

					当商品被管理员下架时通知我
					求货被报价时通知我
					用户提醒
					交易提醒
					商品成功下单时通知我

					订单被商家修改价格时通知我
					订单被商家关闭时通知我
					订单未付款即将关闭时通知我
					订单未付款即将关闭时通知我
					订单未付款即将关闭时通知我
					物流提醒
					商家发货时提醒我

					快递被签收时提醒我
					评价提醒
					对方对交易做出评价时提醒我
					用户提醒
					我的评论被回复时通知我
				</td>
				<td id="wjtbirthday">
					<label for="select"></label>
					<select name="birthdayYear">
					<%for (var i = 0; i < ye-1970; i++) {%>
						<option value="<%=1970+i+1%>" <%if (info&&info.birthdayYear==1970+i+1){%> selected = "selected"<%}%>><%=1970+i+1%></option>
					<%}%>
					</select>
         年
					<select name="birthdayMonth" id="select2">
						<%for (var i = 0; i < 12; i++) {%>
							<option value="<%=i+1%>" <%if (info&&info.birthdayMonth==i+1){%> selected = "selected"<%}%>><%=i+1%></option>
						<%}%>
					</select>
         月
					<select name="birthdayDay" id="select3">
						<%for (var i = 0; i < 31; i++) {%>
							<option value="<%=i+1%>" <%if (info&&info.birthdayDay==i+1){%> selected = "selected"<%}%>><%=i+1%></option>
						<%}%>
					</select>
         日
					<span class="fontgrey">出生年份为保密</span>

				</td>
			</tr>
			<tr>
				<td height="40">
					居住地：
				</td>
				<td id="wjtdomicile">
					<input type="hidden" v-model="cpro" value="<%if (info&&info.domicileProvince){%><%=info.domicileProvince%><%}%>">
					<input type="hidden" v-model="ccty" value="<%if (info&&info.domicileCity){%><%=info.domicileCity%><%}%>">
					<select name="domicileProvince"  v-on:click="onSelectPrivonce" style="min-width:90px; height:26px;">
						<option v-for="p in provinces" value="{{p.code}}">{{p.name}}</option>
					</select>
					<select name="domicileCity" v-on:click="onSelectCity" style="min-width:90px; height:26px;">
							<option v-for="c in cities" value="{{c.code}}">{{c.name}}</option>
					</select>
					<input name="domicileAddress" type="text" size="40" value="<%if (info&&info.domicileAddress){%> <%=info.domicileAddress%><%}%>"/>
				</td>
			</tr>
			<tr>
				<td height="40">
					家乡：
				</td>
				<td id="wjtdomihome">
					<input type="hidden" v-model="cpro" value="<%if (info&&info.hometownProvince){%><%=info.hometownProvince%><%}%>">
					<input type="hidden" v-model="ccty" value="<%if (info&&info.hometownCity){%><%=info.hometownCity%><%}%>">
					<select name="hometownProvince" v-on:click="onSelectPrivonce" style="min-width:90px; height:24px;">
						<option v-for="p in provinces" value="{{p.code}}">{{p.name}}</option>
					</select>
					<select name="hometownCity" v-on:click="onSelectCity" style="min-width:90px; height:24px;">
							<option v-for="c in cities" value="{{c.code}}">{{c.name}}</option>
					</select>
					<input name="hometownAddress" type="text" size="40" value="<%if (info&&info.hometownAddress){%> <%=info.hometownAddress%><%}%>"/ >
				</td>
			</tr>

			<tr>
				<td>

				</td>
				<td>
					<button id="wjtsubmit" type="button" name="button">更新</button>
				</td>
			</tr>
			</table>					</form>
		</div>
	</div>
</div>
</div>
<div id="yourId"></div>
<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">
	<%include('./js/data.js')%>
</script>
</body>
</html>
