<%include('../common/html/head')%>
<title>基础信息</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">
	<%include('../common/account/navgation')%>
	<div class="contentbig min-contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav11 fl"><a href="javascript:;">基础信息 </a></li>
		    <li class="nav12 fl"><a href="/account/safety">  安全服务 </a></li>
		    <li class="nav12 fl"><a href="/account/data">个人资料</a></li>
            <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/pay_setting"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/remind_setting">提醒设置 </a></li>
		    <li class="nav12 fl"><a href="/account/share_setting"> 分享设置</a></li>
		  </ol>
		</div>
		<div class="contentbig2" align="left">
			<font class="font5">您的基础信息</font>
			<br/>
			<table width="924" cellspacing="0" cellpadding="0">
			<tr>
<!--				<td width="320" height="40">
					登陆邮箱：suj****e@hotmail.com
				</td>
				<td width="878">
					<a href="#">修改邮箱</a>
				</td>-->
			</tr>
			<tr>
				<td height="40">
					手机号码：<%=#phone%>
				</td>
				<!--<td>
					<a href="#">修改手机</a> 　　　　<a href="#">解绑手机</a><a href="#">　　　　开启手机登录 </a>
				</td>-->
			</tr>
			<tr>
<!--				<td height="40">
					上次登录：（不是您登录的？请点击这里）
				</td>-->
				<td>&nbsp;

				</td>
			</tr>
			</table>
		</div>
	</div>
</div>
</div>

<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>
</body>
</html>
