<%include('../common/html/head')%>
<title>我的支付设置</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">
<%include('../common/account/navgation')%>
	<div class="contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav12 fl"><a href="/account/information">基础信息 </a></li>
		    <li class="nav12 fl"><a href="/account/safety">  安全服务 </a></li>
		    <li class="nav12 fl"><a href="/account/data">个人资料</a></li>
		    <li class="nav11 fl"><a href="javascript:;"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/remind_setting">提醒设置 </a></li>
		    <li class="nav12 fl"><a href="/account/share_setting"> 分享设置</a></li>
		  </ol>
		</div>
		<div class="contentbig5">
		</div>
		<div class="contentbig4" align="left">
			我的支付账户：185****9973
			<br/>
   账户类型：suj****e@hotmail.com
			<br/>
   支付密码：已设置
			<a href="#">　　　　　　修改</a>                       <br/>
		</div>
		<div class="contentbig4" align="left">
			 实名认证：已完成置        　　　　　<a href="#">查看</a>  <br/>
   姓名：*建
			<br/>
   身份验证：身份证号码1****************8
			<br/>
		</div>
		<div class="contentbig5" align="left">
			 可用余额： <a href="#">查询</a>　  | 　<a href="#">充值 </a><br/>
		</div>
	</div>
</div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>

</body>
</html>
