<%include('../common/html/head')%>
<title>收货地址</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">
	<%include('../common/account/navgation')%>
	<div class="contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav12 fl"><a href="/account/information">基础信息 </a></li>
		    <li class="nav12 fl"><a href="/account/safety">  安全服务 </a></li>
		    <li class="nav12 fl"><a href="/account/data">个人资料</a></li>
		    <li class="nav12 fl"><a href="/account/pay_setting"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav11 fl"><a href="javascript:;"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/remind_setting">提醒设置 </a></li>
		    <li class="nav12 fl"><a href="/account/share_setting"> 分享设置</a></li>
		  </ol>
		</div>
		<div class="contentbig2" align="left">
			<font class="font5 fontorange">新增收货地址</font>　<font class="font5"> 电话号码、手机号选填一项,其余均为必填项</font>
			<br/>
			<table width="924" cellspacing="0" cellpadding="0">
			<tr>
				<td height="40" valign="top">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
			</tr>
			<tr>
				<td height="40">
					<font class="fontorange">*</font>所在地区:
				</td>
				<td>
					<select name="select8" id="select9">
						<option>中国大陆</option>
					</select>
					<select name="select9" id="select10">
						<option>请选择省市区</option>
					</select>
				</td>
			</tr>
			<tr>
				<td height="40" valign="top">
					<font class="fontorange">*</font>详细地址:
				</td>
				<td>
					<label for="textarea"></label>
					<textarea name="textarea" id="textarea" cols="95" rows="5">建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息。</textarea>
				</td>
			</tr>
			<tr>
				<td width="121" height="40">
					 邮政编码:
				</td>
				<td width="841">
					<input name="textfield5" type="text" id="textfield5" value="如您不清楚有底区号，请填写000000" size="40"/>
				</td>
			</tr>
			<tr>
				<td height="40">
					<font class="fontorange">*</font>收货人姓名：:
				</td>
				<td>
					<input name="textfield3" type="text" id="textfield3" value=" 长度不超过25个字符" size="40"/>
				</td>
			</tr>
			<tr>
				<td height="40">
					手机号码：
				</td>
				<td>
					<select name="select5" id="select5">
						<option> 中国大陆 ＋86 </option>
					</select>
					<input name="textfield2" type="text" id="textfield2" value="电话号码，手机号码必须填一项 " size="40"/>
				</td>
			</tr>
			<tr>
				<td height="40">
					电话号码：
				</td>
				<td>
					<label for="textfield2"></label>
					<select name="select" id="select">
						<option> 中国大陆 ＋86 </option>
					</select>
					<input name="textfield4" type="text" id="textfield4" size="5"/>
         -
					<input name="textfield4" type="text" id="textfield6" size="10"/>
         -
					<input name="textfield6" type="text" id="textfield7" size="5"/>
					<span class="fontgrey">区号－电话号码－分机</span>
				</td>
			</tr>
			<tr>
				<td height="40">&nbsp;
					
				</td>
				<td>
					<input type="checkbox" name="checkbox" id="checkbox"/>
					<label for="checkbox">设置为默认收货地址</label>
				</td>
			</tr>
			<tr>
				<td height="40">&nbsp;
					
				</td>
				<td>
					<input class="button1" type="submit" name="button" id="button" value="保存"/>
				</td>
			</tr>
			<tr>
				<td height="40">&nbsp;
					
				</td>
				<td>
					<font class="fontorange">已保存了5条地址，还能保存15条地址</font>
				</td>
			</tr>
			</table>
			<table width="840" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td width="65" height="40">&nbsp;
					
				</td>
				<td width="121">&nbsp;
					
				</td>
				<td width="413">&nbsp;
					
				</td>
				<td width="68" align="center">&nbsp;
					
				</td>
				<td width="109" align="center">&nbsp;
					
				</td>
				<td width="106" align="center">&nbsp;
					
				</td>
			</tr>
			<tr align="center" class="tdh">
				<td height="40">
					<font class="fontblue"><strong>收货人 </strong></font>
				</td>
				<td>
					<font class="fontblue"><strong> 所在地区</strong></font>
				</td>
				<td>
					<font class="fontblue"><strong> 详细地址</strong></font>
				</td>
				<td>
					<font class="fontblue"><strong>邮编</strong></font>
				</td>
				<td>
					<font class="fontblue"><strong>电话/手机</strong></font>
				</td>
				<td>
					<font class="fontblue"><strong> 	     	            操作</strong></font>
				</td>
			</tr>
			<tr class="tr1">
				<td height="40" align="center">
					佟昭明
				</td>
				<td>
					北京 北京市 东城区
				</td>
				<td>
					北新桥街道       东直门北小街8号院4号楼709
				</td>
				<td align="center">
					 	               100007
				</td>
				<td align="center">
					 13*******46
				</td>
				<td align="center">
					<a href="#">修改 | 删除 </a>
				</td>
			</tr>
			<tr class="tr1">
				<td height="40" align="center">
					佟昭明
				</td>
				<td>
					北京 北京市 东城区
				</td>
				<td>
					北新桥街道       东直门北小街8号院4号楼709
				</td>
				<td align="center">
					 100007
				</td>
				<td align="center">
					 13*******46
				</td>
				<td align="center">
					<a href="#">修改 | 删除 </a>
				</td>
			</tr>
			<tr class="tr1">
				<td height="40" align="center">
					佟昭明
				</td>
				<td>
					北京 北京市 东城区
				</td>
				<td>
					北新桥街道       东直门北小街8号院4号楼709
				</td>
				<td align="center">
					 100007
				</td>
				<td align="center">
					 13*******46
				</td>
				<td align="center">
					<a href="#">修改 | 删除 </a>
				</td>
			</tr>
			<tr class="tr1">
				<td height="40" align="center">
					佟昭明
				</td>
				<td>
					北京 北京市 东城区
				</td>
				<td>
					北新桥街道       东直门北小街8号院4号楼709
				</td>
				<td align="center">
					 100007
				</td>
				<td align="center">
					 13*******46
				</td>
				<td align="center">
					<a href="#">修改 | 删除 </a>
				</td>
			</tr>
			<tr class="tr1">
				<td height="40" align="center">
					佟昭明
				</td>
				<td>
					北京 北京市 东城区
				</td>
				<td>
					北新桥街道       东直门北小街8号院4号楼709
				</td>
				<td align="center">
					 100007
				</td>
				<td align="center">
					 13*******46
				</td>
				<td align="center">
					<a href="#">修改 | 删除 </a>
				</td>
			</tr>
			</table>
		</div>
	</div>
</div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>

</body>
</html>
