<%include('../common/html/head')%>
<title>提醒设置-北京北京</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">
	<%include('../common/account/navgation')%>
	<div class="contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav12 fl"><a href="/account/information">基础信息 </a></li>
		    <li class="nav12 fl"><a href="/account/safety">  安全服务 </a></li>
		    <li class="nav12 fl"><a href="/account/data">个人资料</a></li>
		    <li class="nav12 fl"><a href="/account/pay_setting"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav11 fl"><a href="javascript:;">提醒设置 </a></li>
		    <li class="nav12 fl"><a href="/account/share_setting"> 分享设置</a></li>
		  </ol>
		</div>
		<div class="contentbig6" align="left">
			<table width="840" cellpadding="0" cellspacing="0" align="center">
			<tr align="center" class="tdh">
				<td width="91" height="25" align="center">
					<font class="fontgrey font16">商家提醒</font>
				</td>
				<td width="10" align="center">&nbsp;
					
				</td>
				<td width="509" align="left">&nbsp;
					
				</td>
				<td width="6" align="center">&nbsp;
					
				</td>
				<td width="101" align="center">
					<font class="fontgrey font16">邮件</font>
				</td>
				<td width="6" align="center">&nbsp;
					
				</td>
				<td width="101" align="center">
					<font class="fontgrey font16">旺旺</font>
				</td>
				<td width="6" align="center">&nbsp;
					
				</td>
				<td width="94" align="center">
					<font class="fontgrey font16">手机</font>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td>
					<font class="fontgrey">商品管理提醒</font>
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					商品发布时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					商品被修改时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					当商品被管理员删除时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					当商品被管理员下架时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					<font class="fontgrey">交易提醒</font>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					商品发布时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					商品被修改时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					当商品被管理员删除时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					当商品被管理员下架时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					当商品被管理员删除时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					当商品被管理员下架时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					求货被报价时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr align="center" class="tdh">
				<td height="25" align="center">
					<font class="fontgrey font16">用户提醒</font>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="left">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td>
					<font class="fontgrey">交易提醒</font>
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					商品成功下单时通知我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					订单被商家修改价格时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					订单被商家关闭时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					订单未付款即将关闭时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					订单未付款即将关闭时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					订单未付款即将关闭时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td>
					<font class="fontgrey">物流提醒</font>
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					商家发货时提醒我 <br/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					快递被签收时提醒我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr align="center" class="tdh">
				<td height="25" align="center">
					<font class="fontgrey font16">评价提醒</font>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="left">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					对方对交易做出评价时提醒我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr align="center" class="tdh">
				<td height="25" align="center">
					<font class="fontgrey font16">用户提醒</font>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="left">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					我的评论被回复时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr class="tr2">
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td>
					我的评论被删除时通知我
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox2" value="checkbox"/>
				</td>
				<td>
					<img src="/images/line4.gif" width="1" height="24"/>
				</td>
				<td align="center">
					<input class="input2" type="checkbox" name="checkbox3" value="checkbox"/>
				</td>
			</tr>
			<tr>
				<td height="25" align="center">&nbsp;
					
				</td>
				<td>
				</td>
				<td height="60">
					<input class="button1" type="submit" name="button" id="button" value="确定"/>
					<input class="button3" type="submit" name="button2" id="button2" value="恢复默认设置"/>
				</td>
				<td>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>
				</td>
				<td align="center">&nbsp;
					
				</td>
				<td>
				</td>
				<td align="center">&nbsp;
					
				</td>
			</tr>
			</table>
		</div>
	</div>
</div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>

</body>
</html>
