<%include('../common/html/head')%>
<title>安全服务</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">

<%include('../common/account/navgation')%>

	<div class="contentbig min-contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav12 fl"><a href="/account/information">基础信息 </a></li>
		 <li class="nav11 fl"><a href="javascript:;">  安全服务 </a></li>
		    <li class="nav12 fl"><a href="/account/data">个人资料</a></li>
		    <li class="nav12 fl"><a href="/account/pay_setting"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/remind_setting">提醒设置 </a></li>
		    <li class="nav12 fl"><a href="/account/share_setting"> 分享设置</a></li>
		  </ol>
		</div>
		<div class="contentbig2" align="left" >
			<font class="font5">您的安全服务</font>
			<br/>
			<table width="924" cellspacing="0" cellpadding="0">
			<tr>
				<td height="40">
					<strong>安全等级：中</strong>
				</td>
				<td colspan="3">完成密保设置，提高账户安全。</td>
			</tr>
			<tr>
				<td width="108" height="40">
					<strong> 已完成
					</strong>
				</td>
				<td width="105">
					<strong>身份认证</strong>
				</td>
				<td width="551">
					用于提升账号的安全性和信任级别。认证后的有卖家记录的账号不能修改认证信息。
				</td>
				<td width="198" align="center">
					<a href="#">查看</a>
				</td>
			</tr>
			<tr>
				<td height="40">
					<strong>已设置</strong>
				</td>
				<td>
					<strong>登录密码</strong>
				</td>
				<td>
					安全性高的密码可以使账号更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的  密码。
				</td>
				<td align="center">
					<a href="#">修改</a>
				</td>
			</tr>
			<tr>
				<td height="40">
					<strong>未设置</strong>
				</td>
				<td>
					<strong>保密问题 </strong>
				</td>
				<td>
					是您找回登录密码的方式之一。建议您设置一个容易记住，且最不容易被他人获取的问题及答案，更有效保障您的密码安全。
				</td>
				<td align="center">
					<a href="#">设置</a>
				</td>
			</tr>
			<tr>
				<td height="40">
					<strong>已绑定</strong>
				</td>
				<td>
					<strong>手机绑定</strong>
				</td>
				<td>
					绑定手机后，您即可享受北京丰富的手机服务，如手机登录，手机找回密码，开通手机动态密码等
				</td>
				<td align="center">
					<a href="#">解绑</a>
				</td>
			</tr>
			<tr>
				<td height="40">
					<strong>已设置 </strong>
				</td>
				<td>
					<strong>操作保护设置 </strong>
				</td>
				<td>
					在账号进行敏感操作(如：修改密码等)的时候对账号进行保护，进一步提高账号的安全性，防止他人恶意盗用。
				</td>
				<td align="center">
					<a href="#">维护</a>
				</td>
			</tr>
			</table>
		</div>
	</div>
</div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>

</body>
</html>
