<%include('../common/html/head')%>
<title>分享设置</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation')%>
<div class="auto">
<div class="content2">
	<%include('../common/account/navgation')%>
	<div class="contentbig fr" align="center" id="Right">
		<div class="nav1" align="center" >
		  <ol class="clearfix">
		    <li class="nav12 fl"><a href="/account/information">基础信息 </a></li>
		    <li class="nav12 fl"><a href="/account/safety">  安全服务 </a></li>
		    <li class="nav12 fl"><a href="/account/data">个人资料</a></li>
		    <li class="nav12 fl"><a href="/account/pay_setting"> 我的支付设置</a></li>
		    <li class="nav12 fl"><a href="/account/trading_setting"> 个人交易信息</a></li>
		    <li class="nav12 fl"><a href="/account/receiving_address"> 收货地址</a></li>
		    <li class="nav12 fl"><a href="/account/remind_setting">提醒设置 </a></li>
		    <li class="nav11 fl"><a href="javascript:;"> 分享设置</a></li>
		  </ol>
		</div>
		<div class="contentbig5">
		</div>
		<div class="contentbig4" align="left">
			<font class="font5">同步分享</font><br/>
   绑定主流社交网站账号，可以快速地将你在北京中觉得有趣的内容分享给相应网站上的朋友们。赶紧开始你的分享之旅吧!
			<a href="#">　</a>                   <br/>
		</div>
		<div align="left">
			<table width="65%" border="0">
			<tr>
				<td width="5%" align="center">&nbsp;
					
				</td>
				<td width="18%" height="40" align="center">&nbsp;
					
				</td>
				<td width="19%" align="center">&nbsp;
					
				</td>
				<td width="19%" align="center">&nbsp;
					
				</td>
				<td width="19%" align="center">&nbsp;
					
				</td>
				<td width="20%" align="center">&nbsp;
					
				</td>
			</tr>
			<tr>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">
					<img src="/images/weibo.gif" width="74" height="74"/>
				</td>
				<td align="center">
					<img src="/images/weixin.gif" width="74" height="74"/>
				</td>
				<td align="center">
					<img src="/images/dou.gif" width="74" height="74"/>
				</td>
				<td align="center">
					<img src="/images/tecent.gif" width="74" height="74"/>
				</td>
				<td align="center">
					<img src="/images/tianya.gif" width="74" height="74"/>
				</td>
			</tr>
			<tr>
				<td align="center">&nbsp;
					
				</td>
				<td height="40" align="center">
					<a href="#">新浪微博 </a></li>
				</td>
				<td align="center">
					<a href="#">微信 </a>
				</td>
				<td align="center">
					<a href="#">豆瓣网 </a>
				</td>
				<td align="center">
					<a href="#">腾讯微博 </a>
				</td>
				<td align="center">
					<a href="#">天涯论坛</a>
				</td>
			</tr>
			<tr>
				<td align="center">&nbsp;
					
				</td>
				<td align="center">
					<input class="button1" type="submit" name="button" id="button" value="马上绑定"/>
				</td>
				<td align="center">
					<input class="button1" type="submit" name="button" id="button" value="马上绑定"/>
				</td>
				<td align="center">
					<input class="button1" type="submit" name="button" id="button" value="马上绑定"/>
				</td>
				<td align="center">
					<input class="button1" type="submit" name="button" id="button" value="马上绑定"/>
				</td>
				<td align="center">
					<input class="button1" type="submit" name="button" id="button" value="马上绑定"/>
				</td>
			</tr>
			</table>
		</div>
	</div>
</div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>

</body>
</html>
