<%include('../common/html/head')%>
<title>店铺详情</title>
<style media="screen">
<%include('./css/detail.css')%>
<%include('./css/list.css')%>
.sola{ position:absolute; right:0px; top:0px; z-index:1000}
.E-itemList ul li{ position:relative;box-sizing: border-box;}

</style>

</head>
<body>
  <%include('../common/header')%>
  <%include('../common/navgation')%>
  <div class="contaiter">
      <div class="shopContent">
<!--
 <div class="location">
<div class="F-page blue fn-right">
                  <a href="javascript:;" class="F-pageLeft"></a>
                  <span class="orange F-page-amount">1</span>/100
                  <a href="javascript:;" class="F-pageRight"></a>
              </div>
                </div>-->
<!--          <div style="clear:both"></div>
              <div>当前位置： <a href="/">首页</a>   <i class="blue">&gt;</i>  <a href="/store">店铺列表</a>  <i class="blue">&gt;</i>  店铺详情</div>
          </div>-->
          <div style="clear:both"></div>
          <div class="content_dpxq">
          <div class="fn-left">
          <div class="shopSurvey">
          <div class="" id="_shop_detail_div">
              <h1><%=shop.name%> <!--<i class="icon-protect"></i> <i class="icon-reality"></i> <i class="icon-award"></i> <i class="icon-net"></i>--></h1>
              <p><span class="star">
                <%=shop.commentCount%>条评论 <%//交通：-- | 环境：-- | 服务：-- | 店员颜值：--%>
              </span>

              </p>

              <p>地址：  <%=shop.address%></p>
              <p>电话：  <%if (shop.phone) {%><%=shop.phone%><%}else{%>暂无<%}%>  | 微信：  <%if (shop.weixin) {%><%=shop.weixin%><%}else{%>暂无<%}%></p>
             <!-- <p>更多信息<i class="arrow-down"></i></p>-->
              <!--<p><a href="#_write_comment_div" class="commentBtn" >写评论</a></p>-->

              <span class="shareBtn">
                 <!-- <a href="javascript:;" class="share_s">分享</a>-->
                  <a href="javascript:;"onclick="FP_OBJ.METHOD.COLLECTION('store','<%=shop.id%>');" class="sc_s">收藏</a>
                  <a href="javascript:;"onclick="FP_OBJ.METHOD.PRAISE('store','<%=shop.id%>');" class="dz_d">点赞</a>
              </span>
          </div>
          </div>
          <!--店铺列表开始-->
          <div class="wjtjoiserh" style="overflow:hidden; width:895.5px">
          <div class="filter">
              <div class="fn-right">
                  <a href="javascript:;" class="F-display "></a>
                  <a href="javascript:;" class="F-tabular F-tabular-on"></a>
                  <div class="F-page blue">
                      <a href="javascript:;" class="F-pageLeft wjtwselkrw"></a>
                      <span class="orange F-page-amount wjtdkfower">1</span>/<span class="wjtdkfowers">100</span>
                      <a href="javascript:;" class="F-pageRight wjttwelir"></a>
                  </div>
              </div>
              <div class="fn-left">
                  <ul class="F-sortst-nav">
                      <li>排序：</li>
                      <li class="current"><a href="javascript:;">人气</a></li>
                      <li><a href="javascript:;">销量</a></li>
                      <li><a href="javascript:;">新品</a></li>
                      <li><a href="javascript:;">价格</a></li>
                      <li><a href="javascript:;">收藏</a></li>
                  </ul>
              </div>
          </div>
          <div id="_product_list_div" style="width:960px;">
          <div class="E-itemList fiveList">
              <ul  id="wjtpros">
                  <li  v-for="da in list" class="nihao">
<div class="sola" style=" padding:0"><img v-if="da.hasSale" src='/images/sale.png' style="width:54px; height:54px;"></div>
                      <a target="_blank" href="/product/{{da.id}}"><img class="wjererse" src="{{da.image+'?'}}" data-cid={{da.cid}} onerror='var cid = $(this).attr("data-cid");if (isNaN(cid)){cid="";};this.src="/images/default/product"+cid+".jpg"'> </a>
                      <div class="price">牌价：<span> ¥{{da.listPrice}}</span></div>
                      <div class="itemTitle">{{da.name}}</div>
                      <div><span class="fn-right">{{da.releaseDate}}</span>{{da.pid}}</div>
                  </li>
              </ul>
          </div>
          <div class="clear"></div>
          <div class="showpage" id="wjtpropaging"></div>
        </div>

          </div>

          <!--店铺列表结束-->
          	<!--评论开始-->

             <div class="comment_fbpl" style="width:894px;">
             <div class="comment">
              <div class="cTitle blue">发表我的评论</div>
              <div class="commentCon" id="wjtdfowie">
                  <div  class="loginBar blue wjtsfewoier" style="display:none;">
                      <span class="fn-right cForgetpode"><a href="javascript:;">忘记密码？</a>  <i>|</i> <a href="javascript:;">注册</a></span>
                      用户名 <input type="text" class="inp-text"/>
                      密码 <input type="password" class="inp-text"/>
                      <input type="button" value="登录" class="submitBtn"/>
                  </div>
                  <textarea v-model="text" id="wjteditor" class="textareaBox" placeholder="" style=" width:99%"></textarea>
                  <div class="submitBar">
                      <a class="submitBtn fn-right" data-proid="<%=shop.id%>" data-commid="" data-inputid="#wjteditor" id="wjtdfae" v-on:click="toComment"  href="javascript:void(0);">提交</a>
                      <span class="blue">{{wordCount}}/300字</span>
                  </div>
              </div>
              </div>
              <div style="clear:both"></div>
              <div class="comment" id="wjtsdfweoisdh">
              <div class="cTitle blue"><a href="javascript:;" class="fn-right">查看全部 <i class="orange">{{count}}</i> 条评论></a> 网友评论</div>
              <div class="commentCon" >
              	<div class="commentCon_main"  v-for="comment in list">
                      <div class="loginBar blue pt10">
                          <p class="admin_user"></p><p class="admin_user_t">{{comment.userName}}&nbsp;&nbsp;:</p>
                      </div>
                      <div style="clear:both"></div>
                      <div class="commentMain">{{comment.content}}</div>
                      <div class="fn-right"><span>{{comment.commentTime}}&nbsp;&nbsp;[{{$index+1 + (page-1)*count}}楼]</span><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><!--<a href="javascript:;" class="zan">点赞</a>--><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="javascript:;"v-on:click="replyParent" data-index="{{$index}}">回复</a></div>
                      <div style="clear:both"></div>
                      <div class="wjtdfwoieryy{{$index}} wjtdfweroiasndf" style="display:none;" >
                        <div class="user_an"><textarea id="wjtewkoia{{$index}}" type="text" name="name" value="" style="width:100%; height:60px; font-size:14px"></textarea></div>
                            <a class="submitBtn fn-right" data-proid="<%=shop.id%>" data-commid="{{comment.id}}" data-inputid="#wjtewkoia{{$index}}" v-on:click="toComment"  href="javascript:void(0);"> 发表</a>
                      </div>

                       <div class="loginBar blue pt10 loginBar_hf " v-for="child in comment.children">
                          <p class="admin_user"></p><p class="admin_user_t">{{child.userName}}  <template v-if="child.reply!=undefined"> 回复 {{child.reply.userName}}</template>:</p><p class="admin_user_text">{{child.content}}<div class="fn-right"><span>{{child.commentTime}}</span><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="javascript:;" v-on:click="replyChildren" data-id="{{comment.id}}{{$index}}" >回复</a></div></p>
                      <div style="clear:both"></div>
                      <div class="wjtdfweroiasndf wjtdkfjoaie{{comment.id}}{{$index}}" style="display:none;">
                        <div class="user_an"><textarea type="text" class="wjedfwe{{comment.id}}{{$index}}" placeholder="回复：{{child.userName}} " style="width:100%; height:60px; font-size:14px"></textarea></div>
                            <a class="submitBtn fn-right" data-proid="<%=shop.id%>" data-commid="{{child.id}}" data-inputid=".wjedfwe{{comment.id}}{{$index}}" v-on:click="toComment"  href="javascript:void(0);">发表</a>
                      </div>
                      </div>
                        <div style="clear:both"></div>
                   </div>
                   <div id="wjtafaeiu"></div>
              </div>
          </div>
          </div>
            <!--评论结束-->
          </div>
       <div class="zoombox fn-right">
               <%for (var i = 0; i < shop.imgs.length; i++) {%>
                 <div class="zoompic"><img src="<%=shop.imgs[i]+'?'%>" <%if (0==i){%>onerror='this.src="/images/default/store.jpg"' <%}else{%>onerror='$(this).parent().remove();' <%}%>alt="" /></div>
               <%}%>
              <!--<div class="sliderbox">
                  <div class="slider" id="thumbnail">
                      <ul>
                      <%for (var i = 0; i < shop.imgs.length; i++) {%>
                          <li class="current"><a href="images/shop-showbig-img1.jpg" target="_blank"><img src="images/shop-showsmall-img1.jpg" alt="" /></a></li>
                      <%}%>
                      </ul>
                  </div>
              </div>-->
          </div>

      </div>
      <div class="clear"></div>
  </div>


<%include('../common/footer-search')%>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
<%include('../common/js/common/comment.js')%>
<script type="text/javascript">
  <%include('./js/detail.js')%>
</script>
</body>
</html>
