<%include('../common/html/head')%>
<title>评测详情</title>
<style media="screen">
  <%include('../common/css/review/base.css')%>
    .commentMain{padding-left: 68px}
</style>
<link rel="stylesheet" href="http://cdn.staticfile.org/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <%include('../common/header')%>
  <%include('../common/navgation')%>
  <div class="contaiter">
      <div class="leftContent fn-left">
          <div class="location">
  <!--            <div class="F-page blue fn-right">
                  <a href="#" class="F-pageLeft"></a>
                  <span class="orange F-page-amount"></span>
                  <a href="#" class="F-pageRight"></a>
              </div>-->
              当前位置： <a href="/">首页</a>   <i class="blue">&gt;</i>  <a href="/review">快传评测列表</a>  <i class="blue">&gt;</i>  正文
          </div>
          <div class="E-prolastCon">
              <%=#review.postContent%>
          </div>
          <div>
                        <div class="dcfh">
                  <!--<a href="javascript:;" onClick="bdshare()" id="bbb"><i class="icon-share"></i>分享</a>-->
                  <a href="javascript:;"onclick="FP_OBJ.METHOD.COLLECTION('review','<%=review.id%>');" ><i class="icon-collection"></i>收藏</a>
                  <a href="javascript:;" onclick="FP_OBJ.METHOD.PRAISE('review','<%=review.id%>');"><i class="icon-praise"></i>点赞</a>
              </div>
<!--            <button type="button" onclick="FP_OBJ.METHOD.COLLECTION('review','<%=review.id%>');" name="button">收藏</button>
            <button type="button" onclick="FP_OBJ.METHOD.PRAISE('review','<%=review.id%>');" name="button">点赞</button>-->
          </div>
          <div class="comment">
              <div class="cTitle blue">发表我的评论</div>
              <div class="commentCon" id="wjtdfowie">
                  <div  class="loginBar blue wjtsfewoier" style="display:none;">
                      <span class="fn-right cForgetpode"><a href="#">忘记密码？</a>  <i>|</i> <a href="#">注册</a></span>
                      用户名 <input type="text" class="inp-text"/>
                      密码 <input type="password" class="inp-text"/>
                      <input type="button" value="登录" class="submitBtn"/>
                  </div>
                  <textarea v-model="text" id="wjteditor" class="textareaBox" placeholder=""></textarea>
                  <div class="submitBar">
                      <a class="submitBtn fn-right" data-proid="<%=review.id%>" data-commid="" data-inputid="#wjteditor" id="wjtdfae" v-on:click="toComment"  href="javascript:void(0);">提交</a>
                      <span class="blue">{{wordCount}}/300字</span>
                  </div>
              </div>
          </div>
          <div class="comment" id="wjtsdfweoisdh">
              <div class="cTitle blue"><a href="javascript:;" class="fn-right">查看全部 <i class="orange">{{count}}</i> 条评论></a> 网友评论</div>
              <div class="commentCon" >
              	<div class="commentCon_main"  v-for="comment in list">
                      <div class="loginBar blue pt10">
                          <p class="admin_user"></p><p class="admin_user_t">{{comment.userName}}&nbsp;&nbsp;:</p>
                      </div>
                      <div style="clear:both"></div>
                      <div class="commentMain">{{comment.content}}</div>
                      <div class="fn-right"><span>{{comment.commentTime}}&nbsp;&nbsp;[{{$index+1 + (page-1)*count}}楼]</span><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><!--<a href="#" class="zan">点赞</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>--><a href="javascript:;"v-on:click="replyParent" data-index="{{$index}}">回复</a></div>
                      <div style="clear:both"></div>
                      <div class="wjtdfwoieryy{{$index}} wjtdfweroiasndf" style="display:none;" >
                        <div class="user_an"><textarea id="wjtewkoia{{$index}}" type="text" name="name" value="" style="width:100%; height:60px;font-size:14px"></textarea></div>
                            <a class="submitBtn fn-right" data-proid="<%=review.id%>" data-commid="{{comment.id}}" data-inputid="#wjtewkoia{{$index}}" v-on:click="toComment"  href="javascript:void(0);"> 发表</a>
                      </div>
                      <!--子评论-->

                       <div class="loginBar blue pt10 loginBar_hf " v-for="child in comment.children">
                          <p class="admin_user"></p><p class="admin_user_t">{{child.userName}}  <template v-if="child.reply!=undefined"> 回复 {{child.reply.userName}}</template>:</p><p class="admin_user_text">{{child.content}}<div class="fn-right"><span>{{child.commentTime}}</span><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="javascript:;" v-on:click="replyChildren" data-id="{{comment.id}}{{$index}}" >回复</a></div></p>
                      <div style="clear:both"></div>
                      <div class="wjtdfweroiasndf wjtdkfjoaie{{comment.id}}{{$index}}" style="display:none;">
                        <div class="user_an"><textarea type="text" class="wjedfwe{{comment.id}}{{$index}}" placeholder="回复：{{child.userName}} " style="width:100%; height:60px; font-size:14px"></textarea></div>
                            <a class="submitBtn fn-right" data-proid="<%=review.id%>" data-commid="{{child.id}}" data-inputid=".wjedfwe{{comment.id}}{{$index}}" v-on:click="toComment"  href="javascript:void(0);">发表</a>
                      </div>
                      </div>
                        <div style="clear:both"></div>
                   </div>
                   <div id="wjtafaeiu"></div>
              </div>
          </div>
      </div>
      <div class="rightSidebar fn-left">
          <div class="shopRecommend">
              <h2 class="S-title">店铺推荐</h2>
              <ul>
                <%if (stores) {%>
                <%  for (var i = 0; i < stores.length; i++) {%>
                  <li>
                      <a target="_blank" href="/store/<%=stores[i].id%>"><img src="<%=stores[i].img+"?"%>" onerror='this.src="/images/default/store.jpg"'></a>
                      <h3><%=stores[i].name%></h3>
                      <p><%=stores[i].category%></p>
                  </li>
                <%}%>
                <%}%>
              </ul>
          </div>
      </div>
      <div class="clear"></div>
  </div>
  <%include('../common/footer-search')%>
  <%include('../common/footer')%>
  <%include('../common/base')%>
  <%include('../common/js/common/comment.js')%>
  <script type="text/javascript">
    <%include('../common/plugs/fancybox/2_1_5.js')%>
  </script>
  <script src="https://dn-staticfile.qbox.me/fancybox/2.1.5/jquery.fancybox.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    <%include('../common/js/web/review/detail.js')%>
  </script>
  <script type="text/javascript">
    var bdsharetext = '<%=review.postTitle%>';
  </script>
  <%include('../common/js/common/bdshare.js')%>
</body>
</html>
