<%include('../common/html/head')%>
<title>评测</title>
<style media="screen">
  <%include('../common/css/review/base.css')%>

</style>
</head>
<body>
  <%include('../common/header')%>
  <%include('../common/navgation')%>
  <div class="contaiter">
      <div class="leftContent fn-left">
      <div style="border-top: 1px solid #055d91; width:950px;"> </div>
<!--          <div class="filter">
              <div class="fn-right">
                  <a href="#" class="F-display "></a>
                  <a href="#" class="F-tabular F-tabular-on"></a>
                  <div class="F-page blue">
                      <a href="#" class="F-pageLeft"></a>
                      <span class="orange F-page-amount _current_page_span">1</span>/<span class="_total_page_span">1</span>
                      <a href="#" class="F-pageRight"></a>
                  </div>
              </div>
              <div class="fn-left">
                <ul class="F-list-nav">
                    <a href="#"><li>综合</li></a>
                    <a href="#"><li>规模</li></a>
                    <a href="#"><li class="current">人气由高至低</li></a>
                    <a href="#"><li>评分</li></a>
                    <a href="#"><li>点评数</li></a>
                </ul>
              </div>
          </div>-->
          <div class="E-proList">
              <ul class="_listul" id="wjtreviewlist">
        
                <li class="_review_list_li" v-for="it in reviews" >
                  <div class="E-proList-img"><a target="_blank" href="/review/{{it.id}}"><img src="{{it.image}}" /></a> </div>
                    <h2 class="E-proList-title" ><a target="_blank" href="/review/{{it.id}}" class="orange">{{it.postTitle}}</a> </h2>
                    <p class="E-proList-intro blue"><span><a href="javascript:;">{{it.userName}}</a></span>  <i>{{it.postDate}}</i>   <i>浏览次数 {{it.readCount}}</i>   <i>点评次数 {{it.commentCount}}</i></p>
                    <p class="E-proList-con">{{{it.description}}}</p></li>
              </ul>
              <div class="clear"></div>
          </div>

      </div>
      <div class="rightSidebar fn-left">
          <div class="shopRecommend">
              <h2 class="S-title">店铺推荐</h2>
              <ul >
                  <%for (var i = 0; i < stores.length; i++) {%>
                  <li>
                      <a target="_blank" href="/store/<%=stores[i].id%>"><img src="<%=stores[i].img+"?"%>" onerror='this.src="/images/default/store.jpg"'></a>
                      <h3><%=stores[i].name%></h3>
                      <p><%=stores[i].category%></p>
                  </li>
                  <%}%>
            </ul>
          </div>
      </div>
      <div class="clear"></div>
  </div>

  <%include('../common/footer-search')%>
  <%include('../common/footer')%>
  <%include('../common/base')%>
  <script type="text/javascript">
    <%include('../common/js/web/review/review.js')%>
  </script>
  <script type="text/javascript">
    showLay3();
    showLay13();
  </script>
</body>
</html>
