<% include('./common/html/head') %>
    <title>首页</title>
    <style media="screen">
      <% include('./common/css/index.css') %>
	  .index_bgw{ width:100%; height:100%; position:absolute; left:0; background:rgba(0,0,0,0.5)}
    </style>
</head>
<body>

  <% include('./common/header') %>
  <div class="index_bg wjtafwewtj"></div>
  <div class="index_bgw"></div>
  <div class="index_bg wjtsdfew" data-sharpness="85"data-href="<%=img.backgroudImgUrl%>"></div>
  <div class="index_wrap">
  	<div class="index_logo"><img src="<%=img.logoUrl%>"></div>
  	<div class="index_search">
  		<div class="index_search_class">
  			<span class="on">产品</span>
  			<span>店铺</span>
  			<span>评测</span>
  		</div>
  		<div class="index_serach_wrap" style="display:block">
  			<div class="input"><input type="text" id="wjtsepro"   data-url="product" ></div>
  			<div class="button"><input  type="button" onclick="wjtsearch('wjtsepro');" value="搜索" ></div>
  		</div>
  		<div class="index_serach_wrap">
  			<div class="input"><input type="text" id="jwtsesto"  data-url="store" ></div>
  			<div class="button"><input type="button"  onclick="wjtsearch('jwtsesto');" value="搜索" ></div>
  		</div>
  		<div class="index_serach_wrap">
  			<div class="input"><input type="text" id="jwtserev" data-url="review" ></div>
  			<div class="button"><input type="button" onclick="wjtsearch('jwtserev');" value="搜索" ></div>
  		</div>
  	</div>
  </div>
  <% include('./common/footer') %>
  <% include('./common/base') %>
  <script type="text/javascript">
    <% include('./common/js/web/index.js') %>
	/*输入框点击回车键触发搜素功能1*/
	var input = document.getElementById('wjtsepro');
	input.onfocus=function(){
	      document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
                    
             if(e && e.keyCode==13){ 
               wjtsearch('jwtsesto')
            }
        }; 
	
	
	}
		/*输入框点击回车键触发搜素功能2*/
		var input = document.getElementById('jwtsesto');
	input.onfocus=function(){
	      document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
                    
             if(e && e.keyCode==13){ 
               wjtsearch('jwtsesto')
            }
        }; 
	
	
	}
		/*输入框点击回车键触发搜素功能3*/
		var input = document.getElementById('jwtserev');
	input.onfocus=function(){
	      document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
                    
             if(e && e.keyCode==13){ 
               wjtsearch('jwtserev')
            }
        }; 
	
	
	}
  </script>

</body>
</html>
