<%include('../common/html/head')%>
<style media="screen">

</style>
<title>商家中心</title>
</head>
<body>
<%include('../common/header')%>
<%include('../common/navgation_basness')%>
<div class="auto">
<div class="content">
<%include('../common/account/navgation_business')%>
<div class="fl" style="width:700px; height:500px; border:solid 1px #003399; margin-left:10px;"></div>
<div class="fr" style="width:245px; height:500px; border:solid 1px #003399"></div>
</div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
</body>
</html>
