
html,body{display:block;height:100%;overflow-y: hidden; }
.blur{ 
width:100%;
			filter: url(blur.svg#blur);
			-webkit-filter: blur(3px);
			-moz-filter:blur(3px);
			-o-filter:blur(3px);
			-ms-filter:blur(3px);
			filter: blur(3px);
			filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
			transition:1s -webkit-filter linear
			-webkit-transition: all 1s ease;
			transition: all 1s ease;
    }
.index_wrap{width:790px;height:80px; position:absolute;left:50%;top:50%;margin-left:-395px;margin-top:-40px;z-index:666}
.index_logo{ float:left}
.index_search{ float:left;width:543px; margin-left:20px; ;}
.index_search_class{ overflow:hidden}
.index_search_class span{display:block; float:left;height:25px; line-height:25px; background-color:#055d91; text-align:center;color:#fff;width:80px; margin-right:2px;border:1px solid #055d91;border-bottom:none; cursor:pointer}
.index_search_class span.on{background-color:#fff;color:#055d91;border:1px solid #3e6e8a;border-bottom:none}
.index_serach_wrap{ display:none;overflow-y: hidden; }
.index_serach_wrap .input{ float:left;width:440px;height:41px;border:1px solid #376783;background-color:#fff }
.index_serach_wrap .input input{width:100%;background-color:#fff; border:none; line-height:41px; text-indent:5px}
.index_serach_wrap .button{ float:left;width:100px;border:none;height:43px; line-height:43px; text-align:center;color:#fff; background-color:#055d91; font-size:18px;}
.index_serach_wrap .button input{width:100%;border:none;color:#fff;height:43px; background:none; font-size:18px; letter-spacing:2px; cursor:pointer;font-family: "Microsoft YaHei" ! important;}
.index_footer_nav{ position:absolute;bottom:150px;width:520px;left:50%;margin-left:-260px; overflow:hidden}
.index_footer_nav a{ text-align:center; display:block; float:left; margin-right:10px;width:120px;height:30px; line-height:30px; background-color:#1b5e8f; font-size:18px;color:#fff;}
.index_footer_nav a:hover{ background-color:#38b6c6;color:#1b5e8f; text-decoration:none}
	  .bottom1 {
     border: solid 0px rgb(221, 221, 221); position:absolute;bottom:0px; left:0px; width:100%
}
@media only screen and (max-width:1200px){
	.login_bg{}
	.index_wrap{width:100%; margin:0;height:auto;left:0;top:200px}
	.index_logo{  float:none}
	.index_search{ float:none; margin:0 auto}
}
	  .index_bg{background:#191a19 url(<%=img.backgroudImgUrl%>) no-repeat center 0px;background-size:auto 100% ;height:100%; z-index:5;}
	  #floatnav{ z-index:700;  position:fixed; top:0px; width:100%;}
	  html,body{ display:block;height:100%; }
		.bottom1{ z-index:10}
		.index_serach_wrap .button input{ vertical-align:unset}
		.index_serach_wrap .input input{ padding:8px 2px; line-height:1px; font-size:14px; border:none}
