<%include('../common/html/head')%>
<style media="screen">
  <%include('./css/detail.css')%>
  DD{ }
.admin_user{ background:url(/images/default/touxiang.jpg) no-repeat; background-size:cover}
.F-list-nav li.current,.F-sortst-nav li.current{border-left: 1px solid #055d91; background:#FFF;border-right: 1px solid #055d91;border-bottom: 1px solid #fff;}
.F-list-nav li a:hover,.F-sortst-nav li a:hover{color:#ec7d6c;}
.sola{ width:100px; height:100px; position:absolute; right:0px; top:0px; z-index:1000}
.zoompic{ position:relative}
</style>
<script>
    $(document).ready(function() {
    $(".F-list-nav li").first().css("border-left","none")
    });

</script>
<title>产品详情</title>
</header>

<body>
  <%include('../common/header')%>
  <%include('../common/navgation')%>
<div class="contaiter" >
    <div class="leftContent fn-left">
      <div class="productArea">
          <div class="productPic fn-left">
              <div class="zoombox fn-left">
                  <div class="zoompic"><img  class="wjtbigimg"id="wjt21237734" src="<%=pro.images[0]%>" alt="" onerror='this.src="/images/default/product<%=pro.cid%>.jpg"'/><%if (pro.hasSale){%><div class="sola"><img src='/images/sale.png' style="width:100px; height:100px;"></div><%}%></div>
                  <div class="sliderbox">
                      <div class="slider" id="thumbnail">
                          <ul>
                            <%for (var i = 0; i < pro.images.length; i++) {%>
                                <li id='wjtkidwler<%=i%>'><a href="javascript:;" onmouseover="document.getElementById('wjt21237734').src='<%=pro.images[i]+"?"%>';"><img src="<%=pro.images[i]+"?"%>" alt="" onerror='jQuery("#wjtkidwler<%=i%>").remove();' /></a></li>
                            <%}%>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="protectDetail fn-left">
              <ul>
                  <li><label>品名：</label> <span class="proTit"><%=pro.name%></span></li>
                  <li><label>货号：</label> <%=pro.pid%> </li>
                  <!---<%if (pro.alias){%><li><label>俗称：</label> <%=pro.alias%></li><%}%>-->
                  <li class="priceLi"><label>牌价：</label> <span class="price">￥<%=pro.listPrice%></span> </li>
                  <li class="priceLi"><label>市价：</label> <span class="price"><%if (pro.minPrice&&pro.maxPrice) {%>￥<%=pro.minPrice%>-￥<%=pro.maxPrice%><%}else{%>暂无<%}%></span> </li>
                  <li><label>上市日期：</label> <%=pro.releaseDate%> | <%=pro.releaseQ%></li>
                  <li><label>系列：</label> <%=pro.series%>           <span class="sexual"> 性别：</span><%=pro.gender%></li>
                  <li class="sizeLi">
                      <label>尺码：</label>
                      <div class="sizeList">
                          <%for (var i = 0; i < pro.sizes.length; i++) {%>
                              <a data-my="0" class="wjtksdoifiauke" href="javascript:;" data-size="<%=pro.sizes[i].euName%>" data-describe="<%=pro.sizes[i].describe%>" data-size="<%=pro.sizes[i].euName%>" style="border: solid 1px #727171; color: #727171"><%=pro.sizes[i].euName%></a>
                          <%}%>
                      </div>
                  </li>
              </ul>
              <div class="btnsArea">
                  <!--<a href="javascript:;" onClick="bdshare()" id="bbb"><i class="icon-share"></i>分享</a>-->
                  <a href="javascript:;" onclick="FP_OBJ.METHOD.COLLECTION('product','<%=pro.id%>');"><i class="icon-collection"></i>收藏</a>
                 <!-- <a href="javascript:;" onclick="FP_OBJ.METHOD.COLLECTION('product','<%=pro.id%>');"><i class="icon-collection-y"></i>收藏</a>-->
                  <a href="javascript:;" onclick="FP_OBJ.METHOD.PRAISE('product','<%=pro.id%>');"><i class="icon-praise"></i>点赞</a>
                  <!--<a href="javascript:;" onclick="FP_OBJ.METHOD.PRAISE('product','<%=pro.id%>');"><i class="icon-praise-y"></i>点赞</a>-->
              </div>
          </div>
          <div class="clear"></div>
      </div>
        <div class="crumbs-nav wjtjlkseoinrlsdf">
            <span class="filterBtn fn-right">收起筛选<i></i></span>
            所有分类共 <i class="blue1">></i>
            11.7万 家店铺
        </div>
        <div class="filter wjtjlkseoinrlsdf">
            <div class="fn-right">
                <a href="javascript:;" class="F-display "></a>
                <a href="javascript:;" class="F-tabular F-tabular-on"></a>
                <div class="F-page blue">
                    <a href="javascript:;" class="F-pageLeft"></a>
                    <span class="orange F-page-amount">1</span>/100
                    <a href="javascript:;" class="F-pageRight"></a>
                </div>
            </div>
           <div class="fn-left">
                <ul class="F-list-nav">
                    <li><a href="#" >商场品牌</a></li>
                    <li><a href="#">代理商品牌</a></li>
                    <li class="current"><a href="#">网商品牌</a></li>
                    <li><a href="#">店铺类型</a></li>
                    <li><a href="#">物流选项</a></li>
                    <li><a href="#">可购买</a></li>
                    <li  class="drop">
                        <a href="#">发货地</a>
                        <i class=""></i>
                        <!--<li class="drop"><a href="#">发货地 </a></li>-->
                        <div class="delivery" style="display: none;">
                            <span class="pl10">同城: <a href="javascript:;">北京</a></span>
                            <div class="cityList cityListFirst">
                                <a href="javascript:;">北京</a>
                            </div>
                            <div class="cityList">
                                <a href="javascript:;">长沙</a>
                            </div>
                            <div class="cityList">
                                <a href="javascript:;">安徽</a>
                            </div>
                            <div class="clear"></div>
                            <div class="deliverySearch">
                                <input type="text" class="searchText fn-left" placeholder="多个地区用逗号分隔">
                                <input type="button" class="searchBtn fn-left" value="搜索">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="evaluatList wjtjlkseoinrlsdf">
            <table cellpadding="0" cellspacing="0" width="100%" class="evaluatTable">
                <tbody id="wjtpaylist">
                    <tr v-for="da in list">
                        <td><span class="shopTitle orange"><a target="_blank" href="/{{da.type}}/{{da.objId}}">{{da.name}}</a></span></td>
                        <td width="12%" class="blue"></td>
                        <td width="6%" class="blue"></td>
                        <td width="13%"><span class="orange">￥1599</span></td>
                        <td width="12%"><a href="javascript:;" class="buyBtn white">购买</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear wjtjlkseoinrlsdf"></div>
        <div class="showpage wjtjlkseoinrlsdf"></div>
        <div class="clear"></div>
        <div class="comment">
            <div class="cTitle blue">发表我的评论</div>
            <div class="commentCon" id="wjtdfowie">
                <div  class="loginBar blue wjtsfewoier" style="display:none;">
                    <span class="fn-right cForgetpode"><a href="javascript:;">忘记密码？</a>  <i>|</i> <a href="javascript:;">注册</a></span>
                    用户名 <input type="text" class="inp-text"/>
                    密码 <input type="password" class="inp-text"/>
                    <input type="button" value="登录" class="submitBtn"/>
                </div>
                <textarea v-model="text" id="wjteditor" class="textareaBox" placeholder=""></textarea>
                <div class="submitBar">
                    <a class="submitBtn fn-right" data-proid="<%=pro.id%>" data-commid="" data-inputid="#wjteditor" id="wjtdfae" v-on:click="toComment"  href="javascript:void(0);">提交</a>
                    <span class="blue">{{wordCount}}/300字</span>
                </div>
            </div>
        </div>
        <div class="comment" id="wjtsdfweoisdh">
            <div class="cTitle blue"><a href="javascript:;" class="fn-right">查看全部 <i class="orange">{{count}}</i> 条评论></a> 网友评论</div>
            <div class="commentCon" >
            	<div class="commentCon_main"  v-for="comment in list">
                    <div class="loginBar blue pt10">
                        <p class="admin_user"></p><p class="admin_user_t">{{comment.userName}}&nbsp;&nbsp;:</p>
                    </div>
                    <div style="clear:both"></div>
                    <div class="commentMain">{{comment.content}}</div>
                    <div class="fn-right"><span>{{comment.commentTime}}&nbsp;&nbsp;[{{$index+1 + (page-1)*count}}楼]</span><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<!--</span><a href="javascript:;" class="zan">点赞</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>--><a href="javascript:;"v-on:click="replyParent" data-index="{{$index}}">回复</a></div>
                    <div style="clear:both"></div>
                    <div class="wjtdfwoieryy{{$index}} wjtdfweroiasndf" style="display:none;" >
                      <div class="user_an"><textarea  id="wjtewkoia{{$index}}" type="text" name="name" value=""  style="width:100%; height:60px; font-size:14px"></textarea></div>
                          <a class="submitBtn fn-right" data-proid="<%=pro.id%>" data-commid="{{comment.id}}" data-inputid="#wjtewkoia{{$index}}" v-on:click="toComment"  href="javascript:void(0);"> 发表</a>
                    </div>
                    <!--子评论-->
                     <div class="loginBar blue pt10 loginBar_hf " v-for="child in comment.children">
                        <p class="admin_user"></p><p class="admin_user_t">{{child.userName}}  <template v-if="child.reply!=undefined"> 回复 {{child.reply.userName}}</template>:</p><p class="admin_user_text">{{child.content}}<div class="fn-right"><span>{{child.commentTime}}</span><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="javascript:;" v-on:click="replyChildren" data-id="{{comment.id}}{{$index}}" >回复</a></div></p>
                    <div style="clear:both"></div>
                    <div class="wjtdfweroiasndf wjtdkfjoaie{{comment.id}}{{$index}}" style="display:none;">
                      <div class="user_an"><textarea  type="text" class="wjedfwe{{comment.id}}{{$index}}" placeholder="回复：{{child.userName}}"  style="width:100%; height:60px; font-size:14px"></textarea ></div>
                          <a class="submitBtn fn-right" data-proid="<%=pro.id%>" data-commid="{{child.id}}" data-inputid=".wjedfwe{{comment.id}}{{$index}}" v-on:click="toComment"  href="javascript:void(0);">发表</a>
                    </div>
                    </div>
                      <div style="clear:both"></div>
                 </div>
                 <div id="wjtafaeiu"></div>
            </div>
        </div>
    </div>
    <div class="rightSidebar fn-left">
        <div class="mark">
            <!--此处是我要打分,宽度为230-->
            <!--<a href="javascript:;"  class="markBtn white wjetpdafoie">我要打分</a>-->
            <!--我的评分弹窗--start   wjtdfawerao-->
            <div class="scoreLayer wjtdfawerao" style="display: none">
                <h3 class="layerTitle">我的评分<a href="javascript:;"  class="sClosed wjtdjfowerb">×</a></h3>
                <ul class="scoreList">
                    <li>外观 <span class="scoreBar"><i style="width: 30%"></i></span> 2</li>
                    <li>工艺 <span class="scoreBar"><i style="width: 50%"></i></span> 2</li>
                    <li>舒适 <span class="scoreBar"><i style="width: 60%"></i></span> 2</li>
                    <li>支撑 <span class="scoreBar"><i class="scoreOrange" style="width: 40%"></i></span> <span class="orange">2</span></li>
                    <li>缓震 <span class="scoreBar"><i style="width: 30%"></i></span> 2</li>
                    <li>抓地 <span class="scoreBar"><i style="width: 80%"></i></span> 2</li>
                </ul>
                <h3 class="layerTitle">我的评论</h3>
                <form>
                    <textarea class="layerTextarea"></textarea>
                    <p>0/300字</p>
                    <input class="btnSubmit fn-right" type="button" value="提 交"/>
                </form>
            </div>
            <!--我的评分弹窗--end-->
        </div>
        <div class="linearGraph">
            <!--此处是线性图,宽度为230-->
        </div>
        <!--<div class="protectImg"><img src="/images/product/detail/protectImg.jpg"></div>-->
        <div class="shopRecommend evaluatRecommend">
            <h2 class="S-title">推荐评测</h2>
            <ul>
            <%for (var i = 0; i < recommend.length; i++) {%>
                <li>
                    <a target="_blank" href="/review/<%=recommend[i].id%>"><img src="<%=recommend[i].image + '?'%>"></a>
                    <h3><a target="_blank"  href="/review/<%=recommend[i].id%>"><%=recommend[i].postTitle%></a></h3>
                </li>
            <%}%>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<%include('../common/footer-search')%>
<%include('../common/footer')%>
<%include('../common/base')%>
<%include('../common/js/common/comment.js')%>
<script type="text/javascript">
  <%include('./js/detail.js')%>
</script>
</body>
</html>
