<%include('../common/html/head')%>
    <title>产品库</title>
    <style media="screen">
      <%include('./css/list.css')%>
	  .sola{ position:absolute; right:0px; top:0px; z-index:1000}
	  .wxgzh_zz{ width:100%; height:100%; position:fixed;top:0px; background:rgba(0,0,0,0.2); z-index:10000; display:none; border:0 }
	  .wxgzh_zz .wxgzh_wx{ width:500px; height:317px;position:fixed;top:50%; left:50%; margin-left:-250px; margin-top:-153.5px; background:url(/images/wxgzh_wx.jpg) no-repeat ;z-index:10000;}
	  .shopRecommend ul li,.fp_productul li{ position:relative}
    </style>
</head>
<body>
  <%include('../common/header')%>
  <%include('../common/navgation')%>
<div class="contaiter">
    <div class="leftContent fn-left">
        <div class="crumbs-nav" id="wjtjfoiwuebr">
<!--            <span class="filterBtn fn-right">收起筛选<i></i></span>-->
            全部产品>销售品牌：NIKE  <i class="blue1">></i>
            <span class="selectBtn" data-type="{{it.type}}" data-exclude="{{it.exclude}}" data-selet="{{it.selet}}" v-for="it in slectedList">{{it.name}}<i class="closed" data-str="{{it.feiose}}"  v-on:click="delSlect" data-type="{{it.type}}" ></i></span>
            {{totle}} 件
        </div>
        <div class="selector" id="wjtserk">
                <div class="s-brand pr" v-for="k in skeys">
                    <span class="s-brandTitle">{{k.name}}</span>
                    <div class="s-brandList">
                        <ul>
                            <li v-for="ks in k.values"  v-on:click="oneKeyBtn" data-exclude="{{k.id}}" data-selet="{{ks.value}}" data-name="{{ks.name}}" data-fewsd="{{k.name}}" ><input style="display:none;" type="checkbox" class="wjtfwerwer wjtdiofwjeoir{{k.name}}" value="{{ks.value}}"  />{{ks.name}}</li>
                        </ul>
                        <div style="display:none;" id="wjtdofiowuehr{{k.name}}"  class="btnArea wjtfdoieweherw"><a href="javascript:;" v-on:click="moreKeyBtn" data-name="{{k.name}}" class="btnSubmit">确定</a> <a href="javascript:;" onClick="$('#wjtdofiowuehr{{k.name}}').slideUp();$('.wjtdiofwjeoir{{k.name}}').fadeOut();" class="btnCancel" >取消</a></div>
                    </div>
                    <%//<a href="javascript:;" class="multiselectBtn pa">多选</a>%>
                    <a href="javascript:;" class="moreBtn pa" onClick="if($('#wjtdofiowuehr{{k.name}}').is(':hidden')){$('.wjtfdoieweherw').slideUp();$('#wjtdofiowuehr{{k.name}}').slideDown();$('.wjtfwerwer').fadeOut();$('.wjtdiofwjeoir{{k.name}}').fadeIn();}">多选</a>
                </div>
        </div>
        <div class="filter">
            <div class="fn-right">
<!--           <a href="#" class="F-display "></a>
                <a href="#" class="F-tabular F-tabular-on"></a>-->
                <div class="F-page blue">
                    <a href="javascript:;" class="F-pageLeft wjtfeoirsers"></a>
                    <span class="orange F-page-amount wjtjiweoruowe">1</span>/<span class="wjtjiweoruowes">100</span>
                    <a href="javascript:;" class="F-pageRight wjtskeorie"></a>
                </div>
            </div>
            <div class="fn-left">
                <ul class="F-list-nav" id="wjtorderlist">
                    <a href="javascript:;"><li class="current" data-order="sort:asc/releasedate:desc" data-str="综合" v-on:click="orderChange">综合</li></a>
                    <a href="javascript:;"><li data-order="comprehensive_score:desc" v-on:click="orderChange" data-str="评分">评分</li></a>
                    <a href="javascript:;"><li data-order="praise_count" data-ve="asc" data-str="人气"  v-on:click="orderChangeF">人气</li></a>
                    <a href="javascript:;"><li  data-order="listprice" data-ve="asc" data-str="牌价" v-on:click="orderChangeF">牌价</li></a>
                </ul>
            </div>
        </div>
        <div class="E-productList fourList" >
            <ul class="fp_productul" id="wjtpros">
                <li v-for="p in pros">
                    <a target="_blank" href="/product/{{p.id}}"><img src="{{p.image+'?'}}" data-cid="{{p.cid}}" onerror='var cid = $(this).attr("data-cid");if (isNaN(cid)){cid="";};this.src="/images/default/product"+cid+".jpg"'></a>
                    <div class="sola" style="padding:0"><img v-if="p.hasSale" src='/images/sale.png' style="width:57px; height:57px;"/></div>
                    <div class="price">牌价:<i>￥{{p.listPrice}}</i></div>
                    <h3>{{p.name}}</h3>
                    <p><span class="fn-right">{{p.relaseDate}}</span>{{p.pid}}</p>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="showpage" id="wjtpaging" ></div>
        </div>
    </div>
    <div class="rightSidebar fn-left" >
        <div class=" shopRecommend ">
            <h2 class="S-title">推荐产品</h2>
            <ul class="blue">
                <%for (var i = 0; i < recommend.products.length; i++) {%>
                <li>
                    <a target="_blank" href="/product/<%=recommend.products[i].id%>"><img src="<%=recommend.products[i].image+"?"%>" onerror='this.src="/images/default/product<%=recommend.products[i].cid%>.jpg"'></a>
                    <%if (recommend.products[i].hasSale){%><div class="sola"><img src='/images/sale.png' style="width:57px; height:57px;"></div><%}%>
                    <h3>牌价:<span class="price" style="color:#ec7d6c;">￥<%=recommend.products[i].listPrice%></span> </h3>
                    <p><a target="_blank" href="/product/<%=recommend.products[i].id%>"><%=recommend.products[i].name%></a></p>
                </li>
                <%}%>
            </ul>
        </div>
    </div>

    <div class="clear"></div>
</div>

    <%include('../common/footer-search')%>
    <%include('../common/footer')%>
    <%include('../common/base')%>

    <script>
	<%include('./js/list.js')%>
    </script>

</div>
</body>
</html>
