<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>安保问题确认-北京北京</title>
<link href="style/default.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="kong63"></div>
<div class="auto">
 <div class="meb-info">
 <!-- meb-header -->
	<div class="meb-header">
		<div class="logo fl"></div>
		<div class="meb-header-right">
		 <span class="fl">验证身份</span>
		 <span class="fr">
			您好:大**** <span class="xian">|</span><a href="#">用户中心</a> <span class="xian">|</span> <a href="#">退出</a>
		 </span>
		</div>
	</div>
	<div class="meb-xian"></div>
	<div class="meb-cont">

		<div class="meb-cont-list1">
		<h2 class="meb-step">验证身份<span class="step-ico">>>></span> <b>设置密保问题</b><span class="step-ico">>>></span>完成</h2>
			<form action="">
				<div class="meb-list1-div">
					<li>
					<label for="">安保问题1：</label>
					<input type="text" class="int-ab"/>
					</li>
					<li>
					<label for="">答案1：</label>
					<input type="text" class="int-ab"/>
					</li>
				</div>

				<div class="meb-list1-div">
					<li>
					<label for="">安保问题2：</label>
					<input type="text" class="int-ab"/>
					</li>
					<li>
					<label for="">答案2：</label>
					<input type="text" class="int-ab"/>
					</li>
				</div>


				<div class="meb-list1-div">
					<li>
					<label for="">安保问题3：</label>
					<input type="text" class="int-ab"/>
					</li>
					<li>
					<label for="">答案3：</label>
					<input type="text" class="int-ab"/>
					</li>
				</div>

				<div class="meb-list1-sub">
					<input type="submit" class="btn-ab" value="确定"/>
					<a href="#">返回修改</a>
				</div>
			</form>
		</div>
	</div>
 </div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
</body>
</html>
