<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>修改邮箱成功-北京北京</title>
<link href="style/default.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="kong63"></div>
<div class="auto">
 <div class="meb-info">
 <!-- meb-header -->
	<div class="meb-header">
		<div class="logo fl"></div>
		<div class="meb-header-right">
		 <span class="fl">验证身份</span>
		 <span class="fr">
			您好:大**** <span class="xian">|</span><a href="#">用户中心</a> <span class="xian">|</span> <a href="#">退出</a>
		 </span>
		</div>
	</div>
	<div class="meb-xian"></div>
	<div class="meb-cont">

		<div class="meb-cont-list6">
		<h2 class="meb-step"><b>验证身份</b><span class="step-ico">>>></span>修改邮箱<span class="step-ico">>>></span>完成</h2>
			<form action="">

					<li style="text-align:left;">修改成功，138****2737@163.com可作为您的账户名</li>

					<li class="success-info"><a href="#">返回</a> <a href="#" style="color:#166CA9">用户中心</a></li>

			</form>
		</div>
	</div>
 </div>
</div>
<%include('../common/footer')%>
<%include('../common/base')%>
</body>
</html>
