*{margin:0px; padding:0px;}
body{font-family : Helvetica, Arial, Sans-Serif, "微软雅黑","黑体";}
a{cursor: pointer;}
p{margin: 0px;}
ol{list-style: none; }
li{list-style-type:none;float:left;}
body{font: 12px/1.6 tahoma, arial, sans-serif; font-size-adjust: none; font-stretch: normal;font-family: "微软雅黑","黑体";}
button{font: 12px/1.6 tahoma, arial, sans-serif; font-size-adjust: none; font-stretch: normal;}
button{font-size: 100%;}
a{color: rgb(51, 51, 51); text-decoration: none;}
a img{border: 0px currentColor; border-image: none; vertical-align: middle;}
input{margin: 0px; padding: 0px;outline:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
textarea{margin: 0px; padding: 0px; outline: 0px;}
table{border-collapse: collapse; border-spacing: 0;}
.clearfix::after{height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";}
.clearfix{;}
.fl{float: left; _display: inline;}
.fr{float: right!important; _display: inline;}
.auto{clear:both;width:1200px;margin:0 auto;overflow:hidden;}
html{height: 100%;}
body{height: 100%;}
a:link{color:#055d91;}
a:hover{color: #ee7b69;}
a:visited{color: #055d91;}
img.v{margin-left: 2px; vertical-align: -1px; _vertical-align: 0;}
a.v{vertical-align: 2px;}
a.v:hover{background-color: transparent !important;}
.arrow{padding: 0px 2px; font-size: 70%;}
.font1{font-size: 14px;line-height:30px;}
.font2{color: #ffffff;line-height: 30px;}
.font3{color: #dd7a75;line-height: 30px;}
.font4{color: #055d91;line-height: 30px;}
.font5{font-size: 16px;
color: #055d91;line-height: 30px;}
.font6{color: #ec837d;line-height: 30px;}
.fontgrey{color: #a2a2a2;}
.font22{font-size: 22px;
line-height: 50px;}
.font14{font-size: 14px;
line-height: 26px;}
.font16{font-size: 16px;
line-height: 30px;}
.font42{font-size: 42px;
line-height: 46px;}
.fontorange{color: #ec7967;}
.fontblue{color: #055d91;}
.fontwhite{color: #ffffff;margin:0 7px;}
.square{height: 12px;width: 12px;}
.fontlistli{font-size: 14px;line-height:29px;background: url(../images/point.gif)no-repeat 3px 10px;padding: 0px 20px;}
#floatnav{background: #055d91; height: 40px;min-width:1200px;}
A.navfont:link{line-height: 30px;color:#ffffff;}
A.navfont:hover{line-height: 30px;color: #ee7b69;}
A.navfont:visited{line-height: 30px;color: #ffffff;}
#floatnav .leftnav{height: 34px;width: 558px;margin-top:3px;}
#floatnav .leftnav .navtext{line-height: 31px;font-size: 18px;color: #025c8f;color:#ffffff;margin-right:42px;}
#floatnav .middlenav{height: 34px;width: 172px; margin-top:3px;}
#floatnav .rightnav{height: 34px;width: 292px; margin-top:3px;}
.nav{height: 40px;margin: 0px auto; width: 1200px;}
#floatnav a{color:#FFF;}
#floatnav a:hover{color:#ee7b69!important;}
.nav1{BACKGROUND-COLOR:#efeff1;WIDTH:100%;
height: 40px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #055d91;}
.nav1 li{width:12.485%;}
.nav11{height: 41px;background: #ffffff;color: #055d91;line-height: 40px;border-right-width: 1px;border-right-style: solid;border-right-color: #055d91;border-left-width: 1px;border-left-style: solid;border-left-color: #055d91;margin-left:-1px;}
.nav12{height: 40px;line-height: 40px;}
.button1{height: 30px;width: 78px; background:#ec7967;color:#ffffff;}
.button2{height: 30px;width: 78px; background:#efefef;color:#838282;border:solid 1px #b8b7b7;}
.button3{height: 30px;width: 160px; background:#055d91;color:#ffffff;}
/* 导航 */
#header{;}
#header .uinfo_wrap{margin: 0px auto; width: 1200px;clear:both;}
#header .logo{background: url(../images/logo.png)no-repeat 0px 0px;height: 80px;width: 250px;margin-top:20px;margin-bottom:15px;}
#header .kong{height: 12px;width: 252px;margin-top:20px;margin-bottom:46px;}
#header .input1{height: 30px;width: 498px; border:solid 1px #ffffff;}
#header .inputleft{height: 33px;width: 690px; margin-top:20px;border:solid 1px #055d91;background: url("../images/search.gif")no-repeat 600px 0px;}
#menu{float:left;height: 33px;width: 98px;}
#menu ul{list-style-type:none;}
#menu ul li{float:left; position: relative;width:90px;}
#menu ul li a{padding:8px; display:block; text-decoration:none; text-align:center; color:#055d91;}
#menu ul li a:hover{background:#efefef;}
#menu ul li ul{display: none;;}
#menu ul li:hover ul{display: block; position: absolute; top:33px; min-width:74px; left:0;}
#menu ul li:hover ul li a{display:block; background:#efefef; color:#055d91; width: 74px; text-align:center; border-top: 1px solid #ffffff; border-right: none;}
#menu ul li:hover ul li a:hover{background:#efefef; color:#ec7d6c;}
#header .search{height:33px;width: 101px; background:#055d91;color:#ffffff;font-size: 16px;cursor:pointer;border:0;margin:0;padding:0;margin-right:-2px!important;}
#header .rightnav{height: 132px;width: 935px;}
#header .inputsearch{height: 33px;width: 698px;border:solid 1px #055d91;margin-top:20px;}
#header .erwei{background: url("../images/erwei.png")no-repeat 0px 0px;height: 120px;width:240px;margin-top:9px;}
#header .bottomnav{height: 36px;margin: 0px auto; width: 1200px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;}
.orangebutton{background:#ec7d6c; color:#ffffff;font-size: 16px;height: 31px; width: 46px;margin-left:10px;}
.content{width:100%;clear:both;float:left;}
.content2{width:100%;clear:both;float:left;}
.contentleft{width: 230px;border:solid 1px #055d91;}
.contentleft1{height: 34px; width: 230px;background-color:#055d91;color:#ffffff;padding-top:6px;font-size: 18px;margin-bottom:10px;}
.contentleft2{width: 230px;padding-top:10px;font-size: 14px;}
.contentmiddle{width:715px;margin-left:20px;}
/* 左侧导航 */
#nav2{line-height:30px;width:230px;padding-bottom:10px;}
.title{clear:both;border-bottom:1px solid #fff;cursor:pointer;font-size: 16px;background: url("../images/arrow2.gif")no-repeat 160px 12px;text-align:center;
color: #055d91;;}
.title1{clear:both;background: url("../images/arrow.gif")no-repeat 160px 12px;color: #055d91;cursor:pointer;font-size: 16px;text-align:center;}
.mrc li{color:#336699;border-bottom:1px solid #fff;font-size: 14px;margin-left:85px;}
.linedot{width:90%;margin:0 auto;height: 10px;margin-top:10px;border-bottom:1px dashed #CCC;clear:both;}
/* 右侧 */
.contentbig{height: 100%; width:946px;margin-left:20px;border: 1px solid #055d91;}
.contentbig2{width:840px;margin-top:50px;margin-left:20px;}
.contentbig3{height: 40px; width:860px;margin-top:20px;}
.contentbig4{height: 126px;width:860px;margin-top:20px;padding-left:20px;background: url("../images/line2.gif")repeat-x 0px 125px;font-size: 16px;
line-height: 30px;}
.contentbig5{height: 30px;width:860px;margin-top:20px;padding-left:20px;font-size: 16px;
line-height: 30px;}
.contentbig6{width:840px;margin-top:50px;}
.Table1{WIDTH: 700px;
height: 80px;border: 1px solid #055d91;}
.Table1-1{WIDTH: 930px;
height: 142px;border: 1px solid #055d91;margin-bottom:10px;}
.td1{BACKGROUND-COLOR: #055d91;height: 62px;width: 62px;margin-left:8px;}
.Table2{BACKGROUND-COLOR:#efeff1;WIDTH: 700px;
height: 40px;border: 1px solid #055d91;margin-top:-1px;}
.Table3{BACKGROUND-COLOR:#efeff1;WIDTH: 930px;
height: 40px;border: 1px solid #055d91;margin-top:-1px;}
.tdh{BACKGROUND-COLOR:#efefef;height: 40px;color: #055d91;}
.tr1{background: url("../images/line2.gif")repeat-x 0px 39px;height: 40px;}
.tr2{background: url("../images/line2.gif")repeat-x 0px 24px;height: 25px;color:#055d91;}
.input2{height: 14px;width: 14px; border: 1px solid #055d91;}
.contentmiddle3{height: 34px; width:684px;BACKGROUND-COLOR: #055d91;margin-top:10px;color:#ffffff;padding:6px 0px 0px 16px;font-size: 18px;}
.contentmiddle4{height: 322px; width: 225px;border:solid 1px #055d91;margin:10px 9px 0px 0px;}
.contentmiddle4:hover{border:1px solid #ec7c6d;height: 322px; width: 225px;margin:10px 9px 0px 0px;}
.contentmiddlefont{height: 122px; width: 208px;margin:0px 9px 0px 10px;}
.contentright{height: 866px; width: 230px;}
.contentright1{height: 110px; width: 230px;background-color:#055d91;font-size: 18px;color:#ffffff;padding-top:10px;}
.contentright2{height: 336px; width: 228px;border:solid 1px #055d91;margin-top:10px;}
.picture{height: 142px; width: 142px;border:solid 1px #cccccc;margin-bottom:10px;}
/* 底部bottom */
#bottom{;}
#bottom .uinfo_wrap{margin: 0px auto; width: 1200px;height:146px;}
#bottom .input1{height: 30px;width: 480px; border:solid 1px #ffffff;}
#bottom .inputleft{height: 33px;width: 690px; margin-top:20px;border:solid 1px #055d91;background: url("../images/search.gif")no-repeat 600px 0px;}
.bottom{height: 172px;margin: 0px auto; width: 1200px;}
.bottom-wrap{clear:both;width:100%;float:left;position:fixed;bottom:0;}
.bottom1{clear:both;border:solid 1px rgb(221, 221, 221); min-width:1200px;height: 26px;margin: 0px auto;background-color:#4f4f4f;margin-top:30px;color:#ffffff;padding-top:4px;}
.bottom2{width: 1200px;height: 150px;margin: 0px auto;margin-top:10px;margin-left:250px;}
.bottomline{width: 1200px;height: 1px;margin: 0px auto;margin-top:10px;BACKGROUND-COLOR: #0a5c94;}
/* 我的评论：page*/
.right-position{padding-left:246px;float:left;height:30px;line-height:30px;color:#1b5e8f;}
.right-position a{padding:0 9px;color:#221815;}
.right-position a:hover{color:#055d91;}
.contentbig .cont-big3{width:926px;padding:10px;}
.contentbig .cont-big301{float:left;width:100%;margin-top:5px;color:#206E9F;}
.contentbig .cont-big301 input{margin:0 5px 0 31px;border:0;}
.contentbig .cont-big302{width:100%;float:left;padding-bottom:75px;}
.contentbig .cont-big302  li{width:100%;float:left;padding:10px 0;border-bottom:1px dashed #296896;}
.contentbig .cont-big302 h2.cont-title{background:#EFEFEF;height:38px;line-height:38px;float:left;width:100%;text-indent:32px;font-size:22px;font-family:"宋体";margin-top:7px;}
.contentbig .cont-big302 h2 a{color:#000;}
.contentbig .cont-big302 h2 a:hover{color:#085D93;}
.contentbig .cont-big302-pic{float:left;width:146px;margin:11px 26px 0 28px;}
.contentbig .cont-big302-pic img{border:1px solid #075C95;background:#efefef;}
.contentbig .cont-big302-right{width:716px;float:right;}
.contentbig .cont-big302-right1{width:100%;float:left;margin:21px 0 45px 0;line-height:23px;}
.contentbig .cont-big302-right2{width:100%;float:left;text-align:right;}
.contentbig .cont-big302-right2 a{padding:0 14px;font-size:14px;}
.contentbig .cont-big302-right2 font{color:#E78874;}

.pages{width:946px;float:right;text-align:center;margin:20px 0 0 0;}
.pages a{padding:5px 10px;margin-right:10px;}
.pages a:hover,.pages a.on{background:#ec7c6d;color:#fff;}
.pages input{width:38px;height:17px;line-height:17px;margin:0 6px;}

/* 我的回复：page */
img{border:0;}
.cont-huifu .cont-huifu1{width:90%;margin:0 auto;}
.cont-huifu .cont-huifu1 h3{width:100%;float:left;height:30px;line-height:30px;color:#055d91;margin:10px 0 5px 0;}
.cont-huifu .cont-huifu01 img{border:1px solid #055d91;background:#efefef;}
.cont-huifu .cont-huifu01{width:100%;float:left;margin-bottom:20px;color:#055d91;}
.cont-huifu .cont-huifu02{width:100%;float:left;height:30px;line-height:30px;text-align:center;}
/* 收藏的产品:page */
.auto1{width:1200px;margin:0 auto;overflow:hidden;clear:both;}
.auto1 .position{float:left;height:30px;line-height:30px;color:#1b5e8f;}
.auto1 .position a{padding:0 9px;color:#221815;}
.auto1 .position a:hover{color:#055d91;}
.auto1  #continfo{width:1198px;margin-left:0;}
#continfo .fav-list1{width:1180px;margin:10px;background:#EFEFEF;height:44px;line-height:44px;}
#continfo .fav-list1 .fav-list1-left{width:480px;}
#continfo .fav-list1 .fav-list1-left a{padding-left:30px;float:left;font-size:12px;}
#continfo .fav-list1 .fav-list1-left a font{color:#ec7d6c;margin-left:5px;}
#continfo  .fav-list1-right{float:right;margin-right:15px;}
#continfo  .fav-list1-right a{float:left;padding:0 6px;}
#continfo  .fav-list1-right  form{float:left;margin:7px 25px 0 45px;}
#continfo  .fav-list1-right  form .fav-int{width:118px;height:28px;float:left;border:1px solid #065D92;}
#continfo  .fav-list1-right  form .fav-btn{width:50px;height:30px;line-height:26px;float:left;border:1px solid #065D92;background:#065D92;text-align:center;color:#FFF;}
#continfo  .fav-list1-right   .fav-page{float:left;}
#continfo  .fav-list1-right #xianshi{margin-top:10px;}
/* 收藏的商品*/
.fav-list2{width:100%;float:left;margin-bottom:7px;clear:both;}
.fav-list2 ul{width:100%;float:left;}
.fav-list2 ul li{float:left;border:1px solid #055C91;width:188px;margin:5px 12px;margin-right:-5px;text-align:left;}
.fav-list2 ul li:hover{border:1px solid #ec7d6c;}
.fav-list2 ul li img{width:186px;height:186px;}
.fav-list2 ul .li-div{width:158px;padding:5px 15px;font-size:12px;overflow:hidden;}
.fav-list2 ul .li-div h2{float:left;font-size:12px;width:100%;color:#7B7B7B;}
.fav-list2 ul .li-div h2 font{color:#ec7d6c;font-weight:bold;}
.fav-list2 ul .li-div h3{width:100%;height:18px;line-height:18px;overflow:hidden;margin:2px 0;font-family:"Arial"}
.fav-list2 ul .li-div h3 a{color:#000;font-weight:normal;}
.fav-list2 ul .li-div h3 a:hover{color:#ec7d6c;}
/* 收藏的资讯 */
.fav-news{width:100%;float:left;margin-bottom:7px;clear:both;}
.fav-news ul{width:100%;float:left;padding-bottom:114px;}
.fav-news ul li{float:left;border:1px solid #055C91;width:227px;margin:5px 12px;margin-right:-5px;text-align:left;}
.fav-news ul li:hover{border:1px solid #ec7d6c;}
.fav-news ul li img{width:227px;height:124px;background:#EFEFEF;}
.fav-news ul .li-div{width:225px;padding:5px 5px;font-size:12px;overflow:hidden;}
.fav-news ul .li-div h2{float:left;font-size:12px;width:100%;color:#7B7B7B;}
.fav-news ul .li-div h2 a{color:#ec7d6c;}
.fav-news ul .li-div h3{width:100%;height:18px;line-height:18px;overflow:hidden;margin:2px 0;font-family:"Arial"}
.fav-news ul .li-div h3 {color:#095B8D;font-weight:normal;font-size:12px;font-family:"微软雅黑"}
.fav-news ul .li-div p.date{font-size:12px;font-family:"微软雅黑";color:#095B8D;}
/* 收藏的产品 */
.fav-list3{width:100%;float:left;}
.fav-list3 ul{width:98%;margin:0 auto;}
.fav-list3 li{width:100%;float:left;padding:10px 0;border-bottom:1px solid #065B91;margin-bottom:8px;}
.fav-list3 .fav-list3-info1 p{line-height:25px;}
.fav-list3 .fav-list3-info1 p font{color:#EC8572;}
.fav3-list3{width:100%;float:left;}
.fav3-list3 dd{float:left;width:118px;margin:0 5px;}
.fav3-list3 dd h2{width:100%;float:left;height:25px;line-height:25px;overflow:hidden;font-size:14px;color:#FA9897;font-weight:normal;}

.rollBox{width:660px;overflow:hidden;margin:0 auto;}
.rollBox .LeftBotton{height:117px;line-height:117px;width:30px;background:url(../images/btn_left.jpg) no-repeat center;overflow:hidden;float:left;display:inline;cursor:pointer;margin-right:-20px;z-index:111;position:relative;}
.rollBox .RightBotton{height:117px;line-height:117px;width:30px;background:url(../images/btn_left.jpg) no-repeat center;overflow:hidden;float:left;display:inline;cursor:pointer;margin-left:-20px;z-index:111;position:relative;}
.rollBox .Cont{width:628px;overflow:hidden;float:left;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:117px;float:left;text-align:center;margin:0 4px;}
.rollBox .Cont .pic img{display:block;margin:0 auto;}
.fav-list3 li img:hover{opacity:0.8;filter:alpha(opacity=80); -moz-opacity:0.8;-khtml-opacity:0.8;}
.rollBox .Cont .pic p{line-height:26px;color:#F39B9A;text-align:left;}
.rollBox #List1,.rollBox #List2{float:left;}

.fav-list4 .fav-list3-info1{color:#535353;}
/* 12.7日第二批开始 */
/* 安保问题确认  */
.kong63{width:100%;float:left;height:63px;}
.meb-info{width:100%;float:left;}
.meb-header{width:100%;float:left;}
.meb-header .logo{height: 80px;line-height:80px;display:block!important;width: 250px;float:left;background-image: url(../images/logo.png);background-repeat:no-repeat;}
.meb-header-right{width:940px;float:right;height:65px;line-height:65px;background:#efefef;color:#055d91;}
.meb-header-right span.fl{font-size:24px;padding-left:23px;}
.meb-header-right span.fr{padding-right:24px;}
.meb-header-right span.xian{padding:0 10px;}
.meb-xian{width:100%;float:left;height:2px;border-top:1px solid #055B8C;margin:45px 0 27px 0;}
/* meb-cont */
.meb-cont{width:100%;float:left;}
.meb-cont h2{width:100%;float:left;text-align:left;font-size:18px;font-weight:normal;color:#727272;margin-bottom:67px;padding-left:4px;}
.meb-cont h2 span.step-ico{padding:0 28px;color:#6A808E;}
.meb-cont h2 b{font-weight:normal;color:#000;}
.meb-cont-list1{clear:both;width:750px;float:left;margin-left:365px;overflow:hidden;}
.meb-cont-list1 li{width:50%;_width:375px;float:left;}
.meb-cont-list1 li label{float:left;font-size:14px;height:30px;line-height:30px;color:#797979;}
.meb-cont-list1  .int-ab{width:275px;height:29px;line-height:29px;float:left;border:1px solid #F1F1F1;border-radius:3px;}
.meb-cont-list1  .meb-list1-div{margin-top:10px;float:left;width:100%;}
.meb-list1-sub{width:100%;float:left;margin-top:32px;height:30px;line-height:30px;}
.meb-list1-sub .btn-ab{width:300px;height:31px;line-height:31px;float:left;background:#EC7D6C;color:#FFF;border:0;font-size:20px;letter-spacing:3px;margin-right:30px;cursor:pointer;margin-left:5px;}
.meb-list1-sub a{color:#32638B;font-size:14px;}
.meb-list1-sub a:hover{color:#EC7D6C}
/* 手机验证 */
.meb-cont-list2{width:478px;}
.meb-cont-list2 .meb-list1-div{height:30px;line-height:30px;}
.meb-cont-list2 .meb-list1-div label{width:86px;float:left;text-align:right;height:30px;line-height:30px;color:#777777;font-size:14px;}
.meb-cont-list2 .code-int{padding:0 10px;background:#EFEFEF;border-radius:3px;height:26px;line-height:26px;margin-left:45px;color:#38719E;cursor:pointer;}
.meb-cont-list2 .int-ab{width:230px;}
/* 问题验证 */
.meb-cont-list3{width:478px;}
.meb-cont-list3 li{width:100%;float:left;height:30px;line-height:30px;color:#828282;margin:7px 0;}
.meb-cont-list3 li label{width:118px;float:left;text-align:right;}
.meb-cont-list3 li .yan3-int{width:203px;height:31px;line-height:31px;float:left;border-radius:3px;border:1px solid #EFEFEF;}
.yz_email{padding:0 18px;background:#EFEFEF;border-radius:3px;height:30px;line-height:30px;margin-left:14px;border:0;cursor:pointer;}
.yz_email:hover{color:#EC7D6C}
.meb-cont7 label{width:95px!important;}
/* 修改邮箱 */
.meb-cont5{padding-left:2px;}
.meb-cont5 .btn-ab{margin-left:3px;}
.meb-cont5 label{width:58px!important;}
.meb-cont5 .meb-tishi{color:#EC7D6C;font-size:14px;}
/* 修改邮箱成功 */
.meb-cont-list6{width:455px;margin:0 auto;overflow:hidden;padding-top:35px;}
.meb-cont-list6 li{width:100%;height:30px;line-height:30px;float:left;font-size:18px;text-align:center;}
.meb-cont-list6 .success-info a{font-size:14px;color:#000;}
.meb-cont-list6 .success-info a:hover{color:#EC7D6C!important}
/* 验证选项 */
.meb-yanzheng{width:310px;float:left;margin-left:261px;margin-top:50px;}
.meb-yanzheng li{width:100%;float:left;height:30px;line-height:30px;text-align:center;background:#EFEFEF;margin-bottom:10px;}
.meb-yanzheng li a{color:#055d91;font-size:14px;}
.meb-yanzheng li a:hover{color:#EC7D6C;}

/* 首页交易记录 */
.jine_mx .blue{margin-left:-25px!important;}
.jine_mx .red{margin-left:-20px!important;}
.jine_mx select{border:0;outline:0;color:#EC7D6C;font-weight:bold;padding-left:6px;}
.jy-header{width:100%;float:left;min-width:1200px;height:41px;line-height:41px;background:#07385c;color:#FFF;text-align:right;}
.jy-nav{width:100%;float:left;margin:30px 0 38px 0;}
.jy-nav .jy-logo{width:227px;height:71px;float:left;}
.jy-nav .jy-nav-right{width:940px;float:right;background:#EFEFEF;line-height:66px;height:66px;text-align:right;}
.jy-nav .jy-nav-right a{padding:0 25px;font-size:18px;}
.jy-nav .jy-nav-right a:hover{color:#ec7d6c;}

.jy-list1{width:1158px;float:left;border:1px solid #063B5D;padding:20px;}
.jy-list1 .jy-pic{width:105px;float:left;}
.jy-list1 .jy-pic img{border:1px solid #063B5D;}
.jy-list1 .jy-list102{width:315px;float:left;margin-left:20px;border-right:1px solid #063B5D;padding-top:15px;line-height:28px;font-size:16px;overflow:hidden;height:88px;}
.jy-list1 .jy-list102 a{padding-right:41px;color:#58c4ef;}
.jy-list1 .jy-list102 a:hover{color:#EC7D6C!important;}
.jy-list1 .jy-list102  b{font-size:24px;font-weight:normal;}

.jy-list1 .jy-list103{width:370px;float:left;margin-left:63px;border-right:1px solid #063B5D;padding-top:10px;line-height:28px;font-size:16px;overflow:hidden;height:93px;font-size:16px;}
.red{color:#ec7d6c;}
.blue{color:#58c4ef!important;}
.jy-list1 .jy-list103 .money{font-size:36px;}
.jy-list1 .jy-list103  .cz-money a{padding:6px 8px;background:#ec7d6c;color:#FFF;margin:0 6px;_width:46px;_height:31px;}
.jy-list1 .jy-list103  .cz-money a:hover{background:#ec6d5a;}

.jy-list1 .jy-list104{float:left;width:240px;margin-top:24px;}
.jy-list1 .jy-list104 img{float:left;margin-left:28px;}
.jy-list1 .jy-list104 .jy-banks{width:105px;float:left;padding-left:18px;line-height:20px;font-size:14px;}
.jy-list1 .jy-list104 a{padding-top:11px;float:left;}
.jy-list1 .jy-list104 a:hover{color:#EC7D6C!important;}

.jy-cont{margin:9px 0;}
.jy-cont .contentbig{border:1px solid #063B5D;}
.jy-cont  .nav11{border-right-color:#063B5D;border-left-color:#063B5D;}
.jy-cont1{width:1178px;padding:15px 10px;}
.jy-cont .nav11 a,.jy-cont .nav12  a{color:#07385c!important;font-size:14px;}
.jy-cont .jy-cont-101{width:100%;float:left;height:33px;line-height:33px;padding-bottom:12px;border-bottom:1px dashed #053960;margin-bottom:10px;}
.jy-cont .jy-cont-101 input{width:165px;height:31px;line-height:31px;margin:0 5px;}
.jy-cont .jy-cont-101 .fl{margin-left:17px;}
.jy-cont .jy-cont-101 .fr a{padding:0 14px;color:#000;}
.jy-cont .jy-cont-101 .fr a.cur,.jy-cont .jy-cont-101 .fr a:hover{color:#58c4ef;}
.jy-cont .jy-cont-102{width:100%;float:left;height:25px;line-height:25px;text-align:left;}
.jy-cont .jy-cont-102 a{color:#58c4ef;padding:0 20px 0 5px;}
.jy-cont .jy-cont-102 a:hover{color:#ec7d6c;}

.jy-cont .jy-cont-103{width:100%;float:left;margin:10px 0;}
.jy-cont .jy-cont-103 td{padding:10px 0;color:#000;padding-left:20px;font-size:12px;border-bottom:1px dashed #053960;margin-bottom:-2px;}
.jy-cont .jy-cont-103 table .tr-top{background:#EFEFEF;}
.jy-cont .jy-cont-103 table .tr-top td{border-bottom:0;}
.jy-cont .jy-cont-103 td span.gray{color:#727171;}
.jy-cont .jy-cont-103 a{color:#000;}
.jy-cont .jy-cont-103 a:hover{color:#ec7d6c;}
.jy-cont .jy-cont-103 table .last-tr td{border-bottom:0;}
.jy-cont .jy-cont-103 table .jia{color:#999!important;margin-left:-8px;}
.jy-cont .jy-cont-103 table .fushu{color:#ec7d6c!important;}
.jy-cont .jy-cont-103 table .fushu,.jy-cont .jy-cont-103 table .jia{font-weight:bold;font-size:13px;}
.jy-cont-pages{width:100%;float:left;text-align:right;height:30px;line-height:30px;}
.jy-cont-pages a{padding:0 5px;}
.jy-cont-pages a:hover{color:#ec7d6c;}

/* 收支明细 */
.jy-mingxi{width:98%;margin:0 auto;text-align:left;}
.jy-mingxi .jy-mx1{width:100%;float:left;height:45px;line-height:45px;text-indent:17px;}
.jy-mingxi .jy-mx1 span{padding:0 11px;}
.jy-mingxi .jy-mx1  img{vertical-align:text-middle;margin-left:8px;}
.jy-mingxi  #box4{width:100%;float:left;border-top:1px dashed #07385c;padding:14px 0;}
.jy-mingxi  #box4 div{width:100%;float:left;height:30px;line-height:30px;}
.jy-mingxi  #box4 div a{color:#58c4ef;padding:0 25px;}
.jy-mingxi  #box4 div a:hover{color:#ec7d6c;}
.jy-mingxi  #box4 div .jy-mx-int{width:167px;height:30px;line-height:30px;border:1px solid #EFEFEF;margin:0 7px;}
.jy-mingxi  #box4 div .jy-mx-btn{width:122px;height:32px;line-height:32px;background:#ec7d6c;color:#FFF;border:0;cursor:pointer;}
.jy-mingxi .jy-cont-103 table a{color:#58c4ef;}
.jy-srzc .fushu{margin-left:50px;}
/* 账户管理 */
.zh-cont1{width:100%;float:left;}
.zh-cont1 .zh-cont101{width:1198px;background:#EFEFEF;float:left;border:1px solid #103550;height:36px;line-height:36px;}
.zh-cont1 .zh-cont101 a{padding-left:30px;font-size:14px;}
.zh-cont1 .zh-cont102{width:1198px;float:left;border:1px solid #103550;margin-top:12px;margin-bottom:50px;}
.zh-cont1 .zh-cont102 ul {clear:both;width:98%;margin:0 auto;padding:10px 0 162px 10px;overflow:hidden;}
.zh-cont1 .zh-cont102 ul li{width:100%;float:left;border-bottom:1px dashed #103550;height:60px;line-height:60px;font-size:14px;}
.zh-cont1 .zh-cont102 ul li.none{border-bottom:0;}
.zh-cont1 .zh-cont102 ul li .fl{width:165px;text-indent:17px;}
.zh-cont1 .zh-cont102 ul li .fm{width:604px;float:left;}
.zh-cont1 .zh-cont102 ul li .fr{width:212px;}
/* 支付提现 */
.tx-cont{width:1180px;padding:10px;}
.tx-cont .tx-cont1{width:100%;float:left;height:78px;line-height:78px;background:#EFEFEF;font-size:16px;text-align:left;text-indent:30px;margin-bottom:11px;color:#07385c;}
.tx-cont .tx-cont1 .fr{padding-right:20px;}
.tx-cont .tx-cont1 .yue{padding-left:40px;} 
.tx-cont .tx-cont1 .yue b{font-size:30px;font-weight:normal;color:#ec7d6c;margin-top:5px;}
.tx-cont .tx-cont2{padding:15px 0;width:100%;float:left;margin-bottom:415px;}
.tx-cont .tx-cont2 ul{width:1120px;margin:0 auto;overflow:hidden;color:#07385c;}
.tx-cont .tx-cont2 li{float:left;text-align:left;width:100%;margin-bottom:17px;}
.tx-cont .tx-cont2 li label{width:74px;float:left;}
.tx-cont .tx-cont2 li .tx-int{width:187px;height:28px;line-height:28px;border:1px solid #e9e9e9;}
.tx-cont .tx-cont2 .tx-btn{width:190px;height:30px;line-height:30px;background:#ec7d6c;color:#FFF;border:0;cursor:pointer;}
.tx-cont .tx-cont2  input{margin-right:8px;}
.tx-cont  .tx-cont2-div{width:640px;height:40px;line-height:40px;border:1px solid #EFEFEF;float:left;margin-bottom:10px;font-size:14px;color:#7D7D7D;}
.tx-cont  .tx-cont2-div input{margin:15px 0 0 9px;vertical-align:text-middle;float:left;}
.tx-cont  .tx-cont2-div i{width:38px;height:40px;line-height:40px;float:left;margin:0 4px;}
.tx-cont  .tx-cont2-div i.ybk1{background:url(../images/ybk1.jpg) no-repeat center;}
.tx-cont  .tx-cont2-div i.ybk2{background:url(../images/ybk2.jpg) no-repeat center;}
.tx-cont  .tx-cont2-div i.ybk3{background:url(../images/ybk3.jpg) no-repeat center;}
.tx-cont .bk-dq{width:48px;height:20px;line-height:20px;background:#065D92;color:#FFF;float:left;margin:10px 0 0 48px;text-align:center;font-size:14px;}
.tx-cont  .tx-cont2-div .fr{padding-right:45px;}
/* 添加银行卡 */
.tx-bank1{width:100%;float:left;height:42px;line-height:42px;text-align:left;background:#EFEFEF;text-indent:24px;margin-bottom:18px;color:#07385c;}
.tx-bank2{width:100%;float:left;}
.tx-bank2 li{width:100%;float:left;text-align:left;}
.tx-bank2 li label{width:100px;text-align:right;float:left;color:#07385c;height:30px;line-height:30px;}
.kong30{width:100%;float:left;height:30px;line-height:30px;}
.tx-bank2 li input{height:30px;line-height:30px;float:left;border:1px solid #efefef;}
.tx-bank2 li .bank-int1{width:188px;}
.tx-bank2 li .bank-int2{width:290px;}
.tx-bank2  h2{padding-left:102px;float:left;height:20px;line-height:20px;color:#727171;margin-bottom:13px;}
.tx-bank2  .bank-btn{background:#EC7D6C;width:190px;height:30px;float:left;color:#FFF;font-size:18px;cursor:pointer;}
.tx-bank2 .banks-xy a{color:#727171;font-size:12px;}
.tx-bank2 .banks-xy a:hover{color:#ec7d6c;}
.kong345{width:100%;float:left;height:345px;}
/* 银行卡管理 */
.yhk-cont{width:1132px;padding:30px 32px;min-height:511px;}
.yhk-cont li{width:217px;height:130px;float:left;padding:10px 0;background:#EFEFEF;margin:0 4px 10px 4px;}
.yhk-cont  img{float:left;}
.yhk-cont .yhk-cont01{width:209px;float:left;padding:0 2px;height:21px;line-height:21px;}
.yhk-cont .yhk-cont02{float:left;height:21px;line-height:21px;display:block;margin-left:10px;}
.yhk-cont .yhk-cont03{height:21px;line-height:21px;background:#ec7c6d;color:#FFF;width:48px;display:block;float:right;}
.yhk-cont .yhk-cont04{width:100%;float:left;height:37px;background:#727171;margin:12px 0 15px 0;}
.yhk-cont .yhk-cont05 span{width:50px;text-align:center;}
.yhk-cont .yhk-cont05 span.fr a{color:#58c4ef;}
.yhk-cont .yhk-cont05 span.fr a:hover{color:#ec7c6d;}

.yhk-cont .jia_bank{text-align:center;}
.yhk-cont .jia_bank img{text-align:center!important;float:none;margin:25px 0 10px 0;}
.yhk-cont .jia_bank h2:hover{color:#ec7c6d!important;}
/*充值*/
.banks-cz3{padding:30px 5px;}
.banks-cz3  td{text-align:left!important;}
.banks-list3{width:100%;float:left;}
.banks-list3 li{width:180px;height:32px;line-height:32px;float:left;border:1px solid #EFEFEF;margin:10px 25px 0 0;}
.banks-list3 li.cur,.banks-list3 li:hover{border:1px solid #ec7d6c;}
.banks-list3 li img{float:left;margin-left:4px;}
.banks-list3 li input{margin-left:9px;float:left;margin-top:9px;}
.banks-cz3  .banks-int3{width:186px;height:30px;line-height:30px;margin-bottom:6px;margin-right:10px;}
.banks-cz3  .banks-btn3{width:193px;height:30px;line-height:30px;float:left;background:#EC7D6C;font-size:18px;text-align:center;margin-top:32px;color:#FFF;cursor:pointer;border:0;}
.banks-zhifu{margin-left:-7px;margin-top:20px;}
/* 支付收银平台 */
.kc-info1{text-indent:25px;font-size:16px;color:#07385c;}
.kc-info1 .fr{margin-right:20px;}
.kc_h2{float:left;color:#07385c;text-indent:32px;width:100%;height:45px;line-height:45px;border-top:1px dashed #07385c;font-size:14px;}
.kc-info2{width:100%;float:left;margin:10px 0;}
.kc-info2 img{border:1px solid #2b5473;}
.kc-info2 .kc-bt{font-size:24px;color:#07385c;padding:26px 0 10px 0;float:left;width:100%;}
.kc-info2 .kc-chima{font-size:16px;color:#07385c;}
.kc-info3{vertical-align:top;padding-top:25px;font-size:16px;color:#07385c;}
.kc-info3 b{font-size:30px;margin-right:5px;margin-top:-10px;float:left;}
.banks-list4{width:100%;float:left;}
.banks-cz3 table,.banks-cz3 table a{color:#07385c;font-size:14px;}
.banks-cz3 table a:hover{color:#ec7c6d;}
.banks-list4 li{float:left;width:180px;height:32px;line-height:32px;float:left;margin:10px 10px;}
.banks-list4 li input{vertical-align:text-middle;margin-left:9px;margin-top:8px;margin-right:13px;float:left;}
.banks-list4 .kc-int{width:102px;height:31px;line-height:31px;background:#EC7D6C;color:#FFF;border:0;}
 #box7{font-size:18px;margin-top:-6px;color:#07385c;}
#box7 font{font-weight:bold;color:#ec7d6c;margin-right:40px;}
.kczf{width:193px;height:30px;line-height:30px;float:left;border:1px solid #CCC;}
.banks-next{width:187px;height:31px;line-height:31px;background:#ec7d6c;color:#FFF;font-size:16px;margin-top:90px;margin-bottom:29px;cursor:pointer;border:0;}
/* 购物车 */
.cart{width:100%;float:left;}
.cart1{float:left;width:100%;height:30px;line-height:30px;font-size:14px;}
.cart1 a{padding:0 23px;}
.cart1 a.on{color:#ec7d6c;}
.cart1 .fr{padding:0;}
.cart2 .cart2-tr1{height:37px;background:#EFEFEF;border:1px solid #B8CDE0;color:#055d91;}
.cart2 table td{text-indent:20px;font-size:14px;}
.cart2 table td input{margin-right:6px;}
.cart2 .cart2-tr2{height:37px;background:#EFEFEF;color:#055d91;margin:12px 0;}
.cart2 .cart2-tr3 td{padding:10px 0;}
.cart2 .cart2-tr3 td a{float:left;padding-top:6px;color:#727171;}
.cart2 .cart2-tr3 td a.on,.cart2 .cart2-tr3 td a:hover{color:#ec7d6c;}
.cart2 .cart2-tr3 td img{vertical-align:text-bottom;}
.cart2 .cart2-tr5 a{padding-left:50px;}
.cart2 .cart-heji{padding:0 20px 0 40px;}
.cart2 .cart2-btn{width:123px;height:31px;line-height:31px;background:#EC7D6C;color:#FFF;font-size:14px;border:0;cursor:pointer;margin-top:4px;margin-left:62px;}
.cart2-tr5 b.red{font-size:20px;}
.cart2-tr5 td{line-height:37px;}
/* 购物车-增加减少数量 */
#check-int{margin-top:45px;margin-left:19px;float:left;}
.i_box{float:left;font-size:14px;float:left;border:1px solid #CCC;}
.i_box *{vertical-align:middle}
.cart2 .cart2-tr3 td.carts{text-indent:0;}
.i_box a{padding:2px 8px!important;background-color:#e9e9e9;text-decoration:none;color:#000!important;line-height:20px;float:left;height:20px;}
.i_box a:hover{color:#ec7d6c}
.i_box input{width:30px;height:22px;border:0;text-align:center;line-height:22px;float:left;margin-right:0!important;}









