<%include('../common/html/head')%>
<style media="screen">
  <%include('./css/gywm.css')%>
</style>
<title>关于我们</title>
</head>
<body>
  <%include('../common/header')%>
  <%include('../common/navgation')%>
<div class="auto1">
	<div class="nav1" align="center">
    	<ul>
        <li class="nav11"><a href="/us/about">关于我们</a></li>
          <li class="nav12"><a href="/us/contact">联系我们</a></li>
          <li class="nav12"><a href="/us/joinus">人才招聘</a></li>
          <li class="nav12"><a href="/us/statement">收录声明</a></li>
<!--            <li class="nav12"><a href="#">广告服务</a></li>
            <li class="nav12"><a href="#">法律声明</a></li>-->
        </ul>
    </div>
    <div class="content_gywm">
    	<div class="content_gywm_jj">
        	<p class="kcjj">快传体育简介：</p>
            <div class="content_gywm_text">
                <div>快传体育（fastpass.cn）是中国领先的体育用品网络购物平台，也是专业的独立第三方体育用品消费评测网站。</div>
        		<div>运用网络技术与行业背景，快传体育为消费者描绘出准确而清晰的正品销售渠道，消费评价与优惠信息。在对商家资质进行严格把控的前提下，将传统实体店铺与值得信赖的优质网店整合在一起，
    为消费者提供“了解产品”，“寻找产品”，“购买产品”的一站式服务。</div>
       			<div> 快传体育在很大程度上改变了体育用品行业的传统销售方式，也改变了人们的消费方式，足不出户便轻松的获取 产品资讯与透明正品价格。</div>
            </div>
            </div>
            <div class="content_gywm_logo">
            	<div class="content_gywm_logo_l fl">LOGO:</div><div class="content_gywm_logo_r fl"><img src="http://img.fastpass.cn/base/logo.png"></div>
            </div>
            <div style="clear:both"></div>
            <div class="copy_gywm">
                <div class="copy_p"><xmp><!--拷贝以下代码至您的网页中即可引用此图片的最新版本--></xmp></div>
               <xmp><img src="http://img.fastpass.cn/base/logo.png"></img></xmp>
        </div>
        	<div class="mtcx">
        	<p>媒体垂询:</p>
			<div class="media"><a href="mailto:media-contact@fastpass.cn">media-contact@fastpass.cn</a></div>

        </div>


</div>
</div>
<%include('../common/footer')%>
</body>
</html>
