<%include('../common/html/head')%>
<style media="screen">
  <%include('./css/gywm.css')%>
</style>
<title>人才招聘</title>
</head>
<body>
    <%include('../common/header')%>
    <%include('../common/navgation')%>
<div class="auto1">
	<div class="nav1" align="center">
    	<ul>
        <li class="nav12"><a href="/us/about">关于我们</a></li>
          <li class="nav12"><a href="/us/contact">联系我们</a></li>
          <li class="nav11"><a href="/us/joinus">人才招聘</a></li>
          <li class="nav12"><a href="/us/statement">收录声明</a></li>
<!--            <li class="nav12"><a href="#">广告服务</a></li>
            <li class="nav12"><a href="#">法律声明</a></li>-->
        </ul>
    </div>
    <div class="content_rczp">
    <p class="content_rczp_tit">如果你热爱体育运动、并有如下专长，快传体育团队欢迎你的加入：</p>
    <div class="content_rczp_main">
    	<p class="content_rczp_top">高级WEB开发工程师&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;工作地点：北京</p>
    	<ul>
            <li>a.Web开发经验3年以上</li>
            <li>b.至少精通3门以上的编程语言</li>
            <li>c.熟悉Linux操作系统</li>
            <li>d.了解大型网站的基本架构＊熟练使用 HTML、CSS和JavaScript</li>
            <li>e.掌握 Node.JS、Rails、Java 等任一后端技术</li>
            <li>f.熟悉PostgreSQL、MongoDB、Redis 任一数据库技术</li>
            <li>g.熟悉HTTP以及Websocket</li>
            <li>h.熟练使用git，熟练操作命令行，适应快速迭代开发</li>
            <li>i.喜欢挑战新事物，能独立分析、解决和归纳问题</li>
            <li>j.对自己的代码整洁度、性能有要求</li>
        </ul>
	</div>
        <div class="content_rczp_main">
    	<p class="content_rczp_top">WEB前端开发工程师&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;工作地点：北京</p>
    	<ul>
            <li>a.强烈关注用户的视觉和交互体验，注重细节，热衷于实现用户的最佳</li>
            <li>b.热爱前端技术，熟悉HTML,CSS, Javascript，关注最新前端技术发展 </li>
            <li>c.熟悉浏览器特性，习惯于手写符合W3C标准、兼容多种浏览器的代码 </li>
            <li>d.熟练使用至少一种JS框架，掌握其原理，能独立开发常用组件</li>
            <li>e.理解HTTP，了解Web后端实现</li>
        </ul>
	</div>
    <p class="jlfs">简历请发送至：<span><a href="mailto:hr@fastpass.cn">hr@fastpass.cn</a></span></p>
</div>
</div>
<%include('../common/footer')%>
</body>
</html>
