<%include('../common/html/head')%>
<style media="screen">
  <%include('./css/gywm.css')%>
</style>
<title>收录声明</title>
</head>
<body>
    <%include('../common/header')%>
    <%include('../common/navgation')%>
<div class="auto1">
	<div class="nav1" align="center">
    	<ul>
        <li class="nav12"><a href="/us/about">关于我们</a></li>
          <li class="nav12"><a href="/us/contact">联系我们</a></li>
          <li class="nav12"><a href="/us/joinus">人才招聘</a></li>
          <li class="nav11"><a href="/us/statement">收录声明</a></li>
<!--            <li class="nav12"><a href="#">广告服务</a></li>
            <li class="nav12"><a href="#">法律声明</a></li>-->
        </ul>
    </div>
    <div class="content_slsm">
                <h1>店铺与产品收录声明</h1>
            <p>很高兴在快传体育上向消费者介绍您的店铺与产品。我们为体育用品店铺（渠道商&品牌公司）与消费者之间搭建一个公正的第三方平台，传承与发扬“神秘人评测体系"，帮助渠道商与品牌公司获取消费者最真实的消费体验与产品使用评价，提供更丰富全面的客户反馈。</p>
            <p>快传体育收录的产品所属品牌公司，可构建品牌与消费者的沟通渠道，拉近品牌与消费者之间的距离；时时了解消费者对产品体验评价；及时获取消费者对产品的各种反馈；通过产品评价收集数据帮助品牌公司对产品进行改进与投放；通过平台，增加产品或特定品类产品的知名度，发布新品，提高品牌认知度。</p>
            <p>快传体育收录的店铺，可构建店铺与消费者的沟通渠道，拉近店铺与消费者之间的距离；时时了解消费者在店铺的消费体验评价；及时获取消费者对店铺的各种反馈；通过评价收集数据帮助店铺对经营进行改善；通过平台，公告店铺地理位置，售卖货品种类，增加店铺知名度，提高店铺影响。</p>
            <p>快传体育收录的店铺，当店铺信息发生变更时，将相关情况提交网站及时更新，如店铺迁址、装修、变更经营内容与货品信息等。</p>
            <p>对网站上的评价有疑问或异议时，可向我们投诉，网站会对存有疑问的评价做出复议以及最终处理。</p>
            <p>快传体育收录的店铺（渠道商与品牌公司），不得违规利用网站会员账号，进行自我或针对竞品产品与店铺的炒作；包括但不限于自行或雇佣他人发布产品或店铺评价；不得进行其他影响评价真实性、干扰网站秩序的违规行为。</p>
            <p>快传体育将根据用户投诉、客观事实以及所掌握的相关证据，对相关评价进行严格审核，对违规评价作出处理。</p>
    </div>
</div>
<%include('../common/footer')%>
</body>
</html>
