<%include('../../common/html/head')%>
<title>已买到的货品</title>
<style media="screen">
<%include('./css/forgoods.css')%>
<%include('./css/pages.css')%>
</style>
</head>
<body>
<!-- 导航-->
<%include('../../common/header')%>
<%include('../../common/navgation')%>
<!-- 悬浮导航结束-->

<div class="auto">
<div class="right-position"><a href="#">用户中心</a> &gt;<a href="#">评论管理</a> &gt;<a href="#">我的评论</a></div>
<div class="content2">
	<%include('../../common/account/navgation_business')%>
    	<div class="ygm-cont">
		<div class="ygm-cont1">
			<a href="#" class="org">全部订单</a>| 
			<a href="#">待付款</a>|
			<a href="#">待发货</a>|
			<a href="#">待收货8</a>|
			<a href="#">待评价</a>|
			<a href="#">分阶段</a>     
		</div>
		<div class="ygm-cont2">
		<div class="ygm-cont201"><form action=""><input type="text" class="ygm-int1" value="输入商品标题或订单号进行搜索 " /><input type="button" class="ygm-int2" value="订单搜索"/></form>
		<a href="#" class="ygm-jing">精简赛选条件<img src="images/arrow2.png" alt="" style="margin:-4px 0 0 3px;"/></a>
		</div>
		<div class="ygm-cont202">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
				<td>订单类型：
				<input type="text" value="全部" class="ygm-int3"/></td>
				<td>成交时间：<input type="text" class="ygm-int2"/><font style="padding:0 10px;">到</font><input type="text" class="ygm-int2"/></td>
				<td>卖家名称：<input type="text" class="ygm-int3"/></td>
				</tr>
				<tr>
				<td>订单状态：
				<input type="text" value="全部" class="ygm-int3"/></td>
				<td>交易状态：
				<input type="text" value="全部" class="ygm-int3"/></td>
				<td>收货服务：<input type="text" class="ygm-int3"/></td>
				</tr>
			</table>
		</div>
		</div>
		<div class="ygm-cont3">
			<div class="ygm-cont301">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="2" width="330">宝贝</td><td>单价（元）</td><td>数量</td><td>商品操作</td><td>实付款（元）</td><td>交易状态</td><td>交易操作</td>
					</tr>
				</table>
			</div>
			<div class="ygm-cont302">
			<input type="checkbox" />全选  <a href="#">批量确认收货</a>
			<a href="#" class="f_right">下一页</a>
			</div>
			<div class="ygm-cont303">
				<li>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr class="ygm-tr">
						<td width="120"><input type="checkbox" />2015.11.11 </td>
						<td width="225">订单号：1388499554369114</td>
						<td width="75" colspan="6">烟魁梦斗 </td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						<img src="images/ygm_xq.jpg" alt="" style="margin-left:6px;" /><br/>
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
				</table>
				</li>
				
				<li>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr class="ygm-tr">
						<td width="120"><input type="checkbox" />2015.11.11 </td>
						<td width="225">订单号：1388499554369114</td>
						<td width="75" colspan="6">烟魁梦斗 </td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
				</table>
				</li>
				
				
				<li>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr class="ygm-tr">
						<td width="120"><input type="checkbox" />2015.11.11 </td>
						<td width="225">订单号：1388499554369114</td>
						<td width="75" colspan="6">烟魁梦斗 </td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
				</table>
				</li>
				
				
				<li>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr class="ygm-tr">
						<td width="120"><input type="checkbox" />2015.11.11 </td>
						<td width="225">订单号：1388499554369114</td>
						<td width="75" colspan="6">烟魁梦斗 </td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
				</table>
				</li>
				
				
				<li>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr class="ygm-tr">
						<td width="120"><input type="checkbox" />2015.11.11 </td>
						<td width="225">订单号：1388499554369114</td>
						<td width="75" colspan="6">烟魁梦斗 </td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
				</table>
				</li>
				
				
				<li>
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr class="ygm-tr">
						<td width="120"><input type="checkbox" />2015.11.11 </td>
						<td width="225">订单号：1388499554369114</td>
						<td width="75" colspan="6">烟魁梦斗 </td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
					<tr>
						<td align="center"><img src="" alt="" width="68" height="68"/></td><td><a href="#"> 光头牛Bald Bulls 石楠木压棒110255 </a></td><td>150.00</td><td>1</td>
						<td><a href="#">退款/退货</a><br/>
						<a href="#">投诉卖家</a>
						</td>
						
						<td><b>160.00</b><br/>
						(含运费:10.00)
						</td>
						<td>
						待发货<br/>
						
						<a href="#">订单详情</a>
						</td>
						<td>
						还剩13天4时<br/>
						<a href="#" class="tx-fahuo">提醒发货</a>
						</td>
					</tr>
				</table>
				</li>
			</div>
		</div>
		
		
	
	</div>
	<div class="pages">
			<a href="#"><上一页</a><a href="#">1</a><a href="#" class="on">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#"> ...</a><a href="#">下一页></a>共100页，  到第<input type="text" />页 <a href="#">确定</a>
		</div>
</div>
</div>
<%include('../../common/footer')%>
<%include('../../common/base')%>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>

</body>
</html>