<%include('../../common/html/head')%>
<title>我的回复</title>
<style media="screen">
	<%include('./css/commodity.css')%>
</style>
<style media="screen">
	<%include('./css/pages.css')%>
</style>
</head>
<body>
<%include('../../common/header')%>
<%include('../../common/navgation')%>
<div class="auto1">
<div class="position"><a href="/account">用户中心</a> ><a href="javascript:;">收藏管理</a> ><a href="javascript:;">收藏的商品</a></div>
<div class="content2">
	<div class="contentbig fl" align="center" id="continfo">
		<div class="nav1" align="center">
					<ol class="clearfix">
						<li class="nav11 fl"><a href="javascript:;">收藏的商品</a></li>
						<li class="nav12 fl"><a href="/account/collection/product">收藏的产品</a></li>
						<li class="nav12 fl"><a href="/account/collection/store">收藏的店铺</a></li>
						<li class="nav12 fl"><a href="/account/collection/review">收藏的评测</a></li>
					</ol>
				</div>
		<div class="fav-list1">
		 <div class="fav-list1-left fl"><a href="#">全部商品<font>31</font></a><a href="#">降价<font>6</font></a><a href="#">失败<font>2</font></a><a href="#">同店商品</a></div>
		 <div class="fav-list1-right fr">
			<a href="#">产品对比&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<a href="#">批量管理</a>
			<form action="">
				<input type="text" class="fav-int" />
				<input type="submit" class="fav-btn" value="搜索"/>
			</form>
			<a href="#"><</a><span class="fav-page"><font>1</font>/100</span><a href="#">></a>
			<a href="#"><img src="/images/xianshi1.jpg" id="xianshi"/></a>
			<a href="#"><img src="/images/xianshi2.jpg" id="xianshi"/></a>
		 </div>
		</div>


		<!-- in-cont2 -->
	<div class="fav-list2">
	<ul>
		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>


		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>

		<li>
		<a href="#">
		<img src="/images/pic1.jpg" alt="" />
		</a>
		<div class="li-div">
			<h2>牌价:<font>￥499</font></h2>
			<h3><a href="#">Nike Air Jordan 7 Bordeaux AJ...</a></h3>
			<p><span class="fl">304775-034</span> <span class="fr"> 2015/10/21</span></p>
		</div>
		</li>
	</ul>
	</div>



	</div>

	<div class="pages">
			<a href="#"><上一页</a><a href="#">1</a><a href="#" class="on">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#"> ...</a><a href="#">下一页></a>共100页，  到第<input type="text" />页 <a href="#">确定</a>
			</div>

</div>
</div>
<%include('../../common/footer')%>
</body>
</html>
