<%include('../../common/html/head')%>
<title>我的出货</title>
<style media="screen">
	<%include('./css/forgoods.css')%>
	<%include('./css/pages.css')%>
</style>
</head>
<body>
<%include('../../common/header')%>
<%include('../../common/navgation')%>
<div class="auto">
<div class="right-position"><a href="#">用户中心</a> &gt;<a href="#">评论管理</a> &gt;<a href="#">我的评论</a></div>
<div class="content2">
<%include('../../common/account/navgation_business')%>
	<div class="chuhuo-right">
		<div class="chuhuo-right1">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>商品名称：<input type="text" class="chuhuo-int1"/></td><td><label style="width:75px;text-align:right;float:left;">货号：</label><input type="text" class="chuhuo-int1"/></td><td>总销量：<input type="text" class="chuhuo-int2"/><font>到</font><input type="text" class="chuhuo-int2"/></td>
				</tr>
				<tr>
					<td>零售价格：<input type="text" class="chuhuo-int2"/><font>到</font><input type="text" class="chuhuo-int2"/></td><td colspan="2"><label style="width:75px;text-align:right;float:left;">调货价格：</label><input type="text" class="chuhuo-int2"/><font>到</font><input type="text" class="chuhuo-int2"/></td>
				</tr>
				<tr>
					<td colspan="3" align="right"><a href="#">清空条件</a> <a href="#" class="chuhuo-search">搜索</a></td>
				</tr>
			</table>
		</div>
		<div class="chuhuo-right2">
		出货中的商品共 256 件
		</div>
		<div class="chuhuo-right3">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr class="tr-bj1">
                 <td width="25"><input type="checkbox" /></td>
					<td width="98"><a href="#">全选</a><a href="#">放入仓库</a></td>
					<td width="215">商品信息</td><td width="110">调货价格</td><td>零售价格</td>
					<td>库存</td><td>总销量</td><td>发布时间</td><td>操作</td>
				</tr>
				<tr>
                  <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                	<td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                	<td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                	<td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr>
                <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
				<tr class="tab-last">
                <td><input type="checkbox" /></td>
					<td align="center"><img src="" alt="" width="50" height="50"/></td><td style="text-align:left;"><a href="#"><span class="xicmc">ADIDAS阿迪达斯 D ROSE 4 C<span><br>
130650-345</a></td><td><font class="org">1099-1199</font></td><td><font class="org">1099-1199</font></td>
					<td><font class="org">16</font></td><td><font class="org">8</font></td><td><font class="org">2015-12-10 00:45</font></td><td>
					<a href="#">编辑商品</a><br/>
					<a href="#">放入仓库</a></td>
				</tr>
			</table>
		</div>
		<div class="pages">
			<a href="#"><上一页 </a><a href="#">1</a><a href="#" class="on">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#"> ...</a><a href="#">下一页></a>共100页，  到第<input type="text" />页 <a href="#">确定</a>
	</div>
	
	</div>
</div>
</div>

<%include('../../common/footer')%>
<%include('../../common/base')%>
</body>
</html>