<%include('../../common/html/head')%>
<title>收藏的产品</title>
<style media="screen">
	<%include('./css/product.css')%>
</style>
<style media="screen">
	<%include('./css/pages.css')%>
</style>
</head>
<body>
<%include('../../common/header')%>
<%include('../../common/navgation')%>
<div class="auto1">
<div class="position"><a href="/account">用户中心</a> ><a href="javascript:;">收藏管理</a> ><a href="javascript:;">收藏的产品</a></div>
<div class="content2">
	<div class="contentbig fl" id="continfo" align="center">
		<div class="nav1" align="center">
					<ol class="clearfix">
						<li class="nav11 fl"><a href="javascript:;">收藏的产品</a></li>
						<li class="nav12 fl"><a href="/account/collection/store">收藏的店铺</a></li>
						<li class="nav12 fl"><a href="/account/collection/review">收藏的评测</a></li>
					</ol>
				</div>
		<div class="fav-list1">
       <div class="fav-list1-left fl"><a href="#">全部商品<font>31</font></a><a href="#">上新<font>6</font></a><a href="#">优惠<font>2</font></a><a href="#">已购<font>2</font></a><a href="#">常逛<font>2</font></a></div>
		 <div class="fav-list1-right fr" id="wjtjnfapwier">
			<span class="wjtiuwer"><a href="javascript:;" v-on:click="onSelect" >收藏管理</a></span>
			<span class="wjetjoaisodfhaoier" style="display:none;"><a href="javascript:;" v-on:click="onAllSel" >全选</a><a href="javascript:;" v-on:click="onConmi" >删除</a><a href="javascript:;" v-on:click="onCenso" >取消管理</a></span>
			<form action="">
				<input class="fav-int" type="text">
				<input class="fav-btn" value="搜索" type="submit">
			</form>
		<a href="#"><img src="/images/xianshi1.jpg" id="xianshi"></a>
			<a href="#"><img src="/images/xianshi2.jpg" id="xianshi"></a>
		 </div>
		</div>
		<!-- fav-list3 -->
	<div class="fav-list3">
	<ul id="wjtfeiwosd">
			<li v-for='pro in proList' >
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td  style="display:none;" class="wjtkalsdjfpae">
							<input  type="checkbox" class="wjtaoiapiuehr"  value="{{pro.colId}}">
						</td>
						<td><a href="/product/{{pro.id}}" target="_blank"><img src="{{pro.image+'?'}}" onerror="this.src='/images/default/product.jpg'" alt="" height="128" width="128"></a></td>
						<td class="fav-list3-info1" width="340">
							<p>
							品名：<b>{{pro.name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
							货号：{{pro.pid}}</p>
							<p>俗称：{{pro.alias}}</p>
							<p>
							牌价：&nbsp;&nbsp;<font>￥{{pro.listPrice}}</font> &nbsp;&nbsp;
							市价：&nbsp;&nbsp;<font>￥{{pro.minPrice || '暂无'}}-{{pro.maxPrice || '暂无'}}</font></p>
							<p>上市日期：{{pro.releaseDate||''}} &nbsp;&nbsp;|&nbsp;&nbsp; {{pro.releaseQ||''}}</p>
							<p>
							系列：&nbsp;&nbsp;{{pro.series||''}} &nbsp;&nbsp;&nbsp;&nbsp;
							性别：&nbsp;&nbsp;{{pro.gender||''}}</p>
						</td>
						<td>
						<div class="rollBox">
	     <%/*<div class="LeftBotton" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"></div>
	     <div class="Cont" id="ISL_Cont">
	      <div class="ScrCont">
	       <div id="List1">
			<div class="pic">
	          <a href="#" target="_blank"><img src="/images/fav3.jpg" height="117" width="117"></a>
	          <p><font>￥1599</font></p>
	         </div>
	       </div>
	      </div>
	     </div>
	     <div class="RightBotton" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"></div>*/%>
		 </div>


						</td>
					</tr>
				</tbody></table>
			</li>

	</ul>
	</div>

        <div style="clear:both"></div>
        <div class="nhmy">你还没有收藏产品：<a href="/product">去逛逛吧</a></div>

	</div>
<div style="clear:both"></div>
	<div class="tjddp_min">
    	<div class="tjddp_min_tit">推荐产品</div>
        <div class="tjddp_min_cont" >
        	<ul id="box">
            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right;margin-right:10px">2016-01-02</span>308497-106</p>
                </li>
            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right;margin-right:10px">2016-01-02</span>308497-106</p>
                </li>
            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right;margin-right:10px">2016-01-02</span>308497-106</p>
                </li>
            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right;margin-right:10px">2016-01-02</span>308497-106</p>
                </li>
            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right">2016-01-02</span>308497-106</p>
                </li>
            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right;margin-right:10px">2016-01-02</span>308497-106</p>
                </li>            	<li>
                	<div class="tj_img"><a href="#"><img src="/images/default/product.jpg"/></a></div>
                    <div class="price">牌价:<i>￥1399</i></div>
                    <h3>KYRIE 2 EP</h3>
                    <p><span style="float:right; margin-right:10px">2016-01-02</span>308497-106</p>
                </li>
         
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
	<div class="pages" id="wjtdpwepa"></div>
</div>
<div class="showpage" id="wjtpaging" style="text-align:center">    <div class="ui-paging">        <span class="ui-paging-prev" href="false">            上一页        </span>                                <a href="1" class="ui-paging-item ui-paging-current">1</a>                <a class="ui-paging-item" href="2">2</a>                <a class="ui-paging-item" href="3">3</a>                <a class="ui-paging-item" href="4">4</a>                        <span class="ui-paging-ellipsis">...</span>                        <a href="1128" class="ui-paging-item">1128</a>                <a class="ui-paging-next" href="2">            下一页        </a>        <span class="ui-paging-info"><span class="ui-paging-bold">1/1128</span>页</span>        <span class="ui-paging-which"><input value="1" type="text"></span>        <a class="ui-paging-info ui-paging-goto" href="1">跳转</a>    </div></div>
</div>
<%include('../../common/footer')%>
<%include('../../common/base')%>
<script>
$(document).ready(function() {
	$(".tjddp_min_cont").find("li:nth-child(6n)").css("margin-right","0")
 });
</script>
<script type="text/javascript">
	<%include('./js/product.js')%>
</script>
</body>
</html>
