<%include('../../common/html/head')%>
<title>已卖出的货品</title>

<style media="screen">
	<%include('./css/forgoods.css')%>
	<%include('./css/pages.css')%>
	.xicmc{overflow:hidden;white-space:nowrap;text-overflow:ellipsis; display:inline-block; width:237px;}
</style>
</head>
<body>
<!-- 导航-->
<%include('../../common/header')%>
<%include('../../common/navgation')%>

<!-- 悬浮导航结束-->

<div class="auto">
<div class="right-position"><a href="#">用户中心</a> &gt;<a href="#">评论管理</a> &gt;<a href="#">我的评论</a></div>
<div class="content2">
	<%include('../../common/account/navgation_business')%>
	<div class="yxs-cont">
		<div class="yxs-cont1">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td>宝贝名称：<input type="text" class="yxs-int1"/></td>
					<td  colspan="2">成交时间：<input type="text" class="yxs-int3" />日<input type="text" class="yxs-int2" />时<input type="text" class="yxs-int2" />分<input type="text" class="yxs-int2" />秒 到 <input type="text" class="yxs-int3" />日<input type="text" class="yxs-int2" />时<input type="text" class="yxs-int2" />分<input type="text" class="yxs-int2" />秒</td>
				</tr>
				<tr>
					<td>买家名称：<input type="text" class="yxs-int1"/></td>
					<td>订单状态：<select name="" id=""><option value=""></option></select></td>
					<td>评价状态：<select name="" id=""><option value=""></option></select></td>
				</tr>
				<tr>
					<td>订单编号：<input type="text" class="yxs-int1"/></td>
					<td>物流服务：<select name="" id=""><option value=""></option></select></td>
					<td>售后服务：<select name="" id=""><option value=""></option></select></td>
				</tr>
				<tr>
					<td>交易类型：<input type="text" class="yxs-int1"/></td>
					<td>订单类型：<select name="" id=""><option value=""></option></select></td>
					<td><input type="button" value="搜索" class="yxs-btn1"/><input type="button" value="批量导出" class="yxs-btn2"/></td>
				</tr>
			</table>
		</div>
		<div class="yxs-cont2">
		<ul class="yxs-cont2-ul yxs-nav">
			<li class="on"><a href="#">近三个月订单</a></li>
			<li><a href="#">等待买家付款</a></li>
			<li><a href="#">等待发货</a></li>
			<li><a href="#">已发货</a></li>
			<li><a href="#">退款中</a></li>
			<li><a href="#">需要评价</a></li>
			<li><a href="#">成功的订单</a></li>
			<li><a href="#">关闭的订单</a></li>
			<li><a href="#">三个月前订单</a></li>
		</ul>
		<div class="yxs-cont3">
			<div class="yxs-cont301">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="100"><input type="checkbox" />全选 </td><td><a href="#">批量发货</a></td><td><a href="#">批量标记</a></td><td><a href="#">批量免运费</a></td><td><input type="checkbox" />不显示已关闭的订单</td>
						<td class="yxs-fenye"> <a href="#">< 上一页</a>   <a href="#">下一页 ></a></td>
					</tr>
				</table> 
			</div>
			<div class="yxs-cont302">
				<div class="yxs-cont303">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="380">产品</td><td>单价(元) </td><td>数量</td><td>售后</td><td>买家</td><td>交易状态</td><td>实收款(元) </td><td>评价</td>
					</tr>
				</table>
				</div>
				<ul class="yxs-cont304">
					<li>
					<div class="yxs-cont305">					
					<input type="checkbox" />订单编号：1290652845795486  <span class="date">成交时间：2015-11-30 15:24</span></div>
					<div class="yxs-cont306">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="106"><img src="" alt="" width="84" height="84" /></td>
								<td width="350" style="text-align:left;">
								<a href="#">9号运动 ADIDAS阿迪达斯 D ROSE 4 C 罗斯4代 少年款/童鞋 Q32524</a><br/>
								商家编码: Q32524颜色分类: 黑色鞋码: 35码</td>
								<td>338.00</td>
								<td>1</td>
								<td><a href="#">退款</a></td>
								<td width="90">
								七喜运动<br />
								<img src="images/ygm_xq.jpg" alt="" /><br />
								<a href="#">和我联系</a>
								</td>
								<td width="100">
								待买家付款 <br />
<a href="#">详情</a><br />
<a href="#">关闭交易</a><br />
<a href="#">发货</a>								
								</td>
								<td>
								806.43元<br/>
								(含快递:12.00) <br />
								 <a href="#">修改价格</a>
								</td>
							</tr>
						</table>
					</div>
					</li>
					
					<li>
					<div class="yxs-cont305">					
					<input type="checkbox" />订单编号：1290652845795486  <span class="date">成交时间：2015-11-30 15:24</span></div>
					<div class="yxs-cont306">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="106"><img src="" alt="" width="84" height="84" /></td>
								<td width="350" style="text-align:left;">
								<a href="#">9号运动 ADIDAS阿迪达斯 D ROSE 4 C 罗斯4代 少年款/童鞋 Q32524</a><br/>
								商家编码: Q32524颜色分类: 黑色鞋码: 35码</td>
								<td>338.00</td>
								<td>1</td>
								<td><a href="#">退款</a></td>
								<td width="90">
								七喜运动<br />
								<a href="#">和我联系</a>
								</td>
								<td width="100">
								待买家付款 <br />
								<a href="#">详情</a><br />
								<a href="#">关闭交易</a><br />
								<a href="#">发货</a>								
								</td>
								<td>
								806.43元<br/>
								(含快递:12.00) <br />
								 <a href="#">修改价格</a>
								</td>
							</tr>
						</table>
					</div>
					</li>
					
					<li>
					<div class="yxs-cont305">					
					<input type="checkbox" />订单编号：1290652845795486  <span class="date">成交时间：2015-11-30 15:24</span></div>
					<div class="yxs-cont306">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="106"><img src="" alt="" width="84" height="84" /></td>
								<td width="350" style="text-align:left;">
								<a href="#">9号运动 ADIDAS阿迪达斯 D ROSE 4 C 罗斯4代 少年款/童鞋 Q32524</a><br/>
								商家编码: Q32524颜色分类: 黑色鞋码: 35码</td>
								<td>338.00</td>
								<td>1</td>
								<td><a href="#">退款</a></td>
								<td width="90">
								七喜运动<br />
								<a href="#">和我联系</a>
								</td>
								<td width="100">
								待买家付款 <br />
								<a href="#">详情</a><br />
								<a href="#">关闭交易</a><br />
								<a href="#">发货</a>								
								</td>
								<td>
								806.43元<br/>
								(含快递:12.00) <br />
								 <a href="#">修改价格</a>
								</td>
							</tr>
						</table>
					</div>
					</li>
					
					
					<li>
					<div class="yxs-cont305">					
					<input type="checkbox" />订单编号：1290652845795486  <span class="date">成交时间：2015-11-30 15:24</span></div>
					<div class="yxs-cont306">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="106"><img src="" alt="" width="84" height="84" /></td>
								<td width="350" style="text-align:left;">
								<a href="#">9号运动 ADIDAS阿迪达斯 D ROSE 4 C 罗斯4代 少年款/童鞋 Q32524</a><br/>
								商家编码: Q32524颜色分类: 黑色鞋码: 35码</td>
								<td>338.00</td>
								<td>1</td>
								<td><a href="#">退款</a></td>
								<td width="90">
								七喜运动<br />
								<a href="#">和我联系</a>
								</td>
								<td width="100">
								待买家付款 <br />
								<a href="#">详情</a><br />
								<a href="#">关闭交易</a><br />
								<a href="#">发货</a>								
								</td>
								<td>
								806.43元<br/>
								(含快递:12.00) <br />
								 <a href="#">修改价格</a>
								</td>
							</tr>
						</table>
					</div>
					</li>
					
					
					
					<li>
					<div class="yxs-cont305">					
					<input type="checkbox" />订单编号：1290652845795486  <span class="date">成交时间：2015-11-30 15:24</span></div>
					<div class="yxs-cont306">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="106"><img src="" alt="" width="84" height="84" /></td>
								<td width="350" style="text-align:left;">
								<a href="#">9号运动 ADIDAS阿迪达斯 D ROSE 4 C 罗斯4代 少年款/童鞋 Q32524</a><br/>
								商家编码: Q32524颜色分类: 黑色鞋码: 35码</td>
								<td>338.00</td>
								<td>1</td>
								<td><a href="#">退款</a></td>
								<td width="90">
								七喜运动<br />
								<a href="#">和我联系</a>
								</td>
								<td width="100">
								待买家付款 <br />
								<a href="#">详情</a><br />
								<a href="#">关闭交易</a><br />
								<a href="#">发货</a>								
								</td>
								<td>
								806.43元<br/>
								(含快递:12.00) <br />
								 <a href="#">修改价格</a>
								</td>
							</tr>
						</table>
					</div>
					</li>
					
					
					
					<li>
					<div class="yxs-cont305">					
					<input type="checkbox" />订单编号：1290652845795486  <span class="date">成交时间：2015-11-30 15:24</span></div>
					<div class="yxs-cont306">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="106"><img src="" alt="" width="84" height="84" /></td>
								<td width="350" style="text-align:left;">
								<a href="#">9号运动 ADIDAS阿迪达斯 D ROSE 4 C 罗斯4代 少年款/童鞋 Q32524</a><br/>
								商家编码: Q32524颜色分类: 黑色鞋码: 35码</td>
								<td>338.00</td>
								<td>1</td>
								<td><a href="#">退款</a></td>
								<td width="90">
								七喜运动<br />
								<a href="#">和我联系</a>
								</td>
								<td width="100">
								待买家付款 <br />
								<a href="#">详情</a><br />
								<a href="#">关闭交易</a><br />
								<a href="#">发货</a>								
								</td>
								<td>
								806.43元<br/>
								(含快递:12.00) <br />
								 <a href="#">修改价格</a>
								</td>
							</tr>
						</table>
					</div>
					</li>
				</ul>
			</div>
		</div>
		
		
		</div>
		<div class="pages">
			<a href="#"><上一页</a><a href="#">1</a><a href="#" class="on">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#"> ...</a><a href="#">下一页></a>共100页，  到第<input type="text" />页 <a href="#">确定</a>
		</div>
	</div>
	
</div>
</div>	
<%include('../../common/footer')%>
<%include('../../common/base')%>
</body>
</html>