(function($, undefined) {
  var _query = "<%=search%>";
  var page = 1;
  var pages = 0;
  var order = "sort:asc/releasedate:desc";
  var wjtorderlistV = new Vue({
    el: "#wjtorderlist",
    methods: {
      changeX: function(event) {
        $('#wjtorderlist').children('a').children('li').removeClass(
          'current');
        $(event.target).addClass('current');
        $('#wjtorderlist').children('a').children('li').empty();
        $('#wjtorderlist').children('a').children('li').each(function(
          index, el) {
          $(el).html($(el).attr("data-str"));
        });
      },
      orderChange: function(event) {
        this.changeX(event);
        order = $(event.target).attr('data-order');
        ThisPage.reloadSearchKeyAndList();
      },
      orderChangeF: function(event) {
        $this = $(event.target);
        this.changeX(event);
        if ($this.attr('data-ve') === 'asc') {
          order = $this.attr('data-order') + ':asc';
          $this.html($this.attr('data-str') + "从低到高");
          $this.attr('data-ve', 'desc');
        } else {
          order = $this.attr('data-order') + ':desc';
          $this.html($this.attr('data-str') + "从高到低");
          $this.attr('data-ve', 'asc');
        }
        ThisPage.reloadSearchKeyAndList();
      }
    }
  });
  var wjtserkV = new Vue({
    el: "#wjtserk",
    data: {
      skeys: []
    },
    methods: {
      moreKeyBtn: function(event) {
        var $el = $(event.target);
        $('.wjtdiofwjeoir' + $el.attr('data-name') + ':checked').each(
          function(index, el) {
            wjtkeysele.addSlect("key~~~~~" + $(el).parent().attr(
              'data-name') + "~~~~~" + $(el).parent().attr(
              'data-exclude') + "~~~~~" + $(el).parent().attr(
              'data-selet'));
            if (index == $('.wjtdiofwjeoir' + $el.attr('data-name') +
                ':checked').length - 1) {
              ThisPage.reloadSearchKeyAndList();
            }
          });
        $('.btnCancel').trigger('click');
      },
      oneKeyBtn: function(event) {
        var $el = $(event.target);
        if ($('.wjtdiofwjeoir' + $el.attr('data-fewsd')).is(":hidden")) {
          wjtkeysele.addSlect("key~~~~~" + $el.attr('data-name') +
            "~~~~~" + $el.attr('data-exclude') + "~~~~~" + $el.attr(
              'data-selet'));
          ThisPage.reloadSearchKeyAndList();
        } else {
          $el.children('input').trigger('click');
        }
      }
    }
  });
  var wjtkeysele = new Vue({
    el: "#wjtjfoiwuebr",
    data: {
      slectedStr: "",
      totle: 0
    },
    computed: {
      slectedList: function() {
        var result = [];
        var index = 0;
        for (var i = 0; i < this.slectedStr.split("~~~~~~~~~~").length; i++) {
          if (this.slectedStr.split("~~~~~~~~~~")[i].indexOf("~~~~~") !=
            -1) {
            result[index] = {
              type: this.slectedStr.split("~~~~~~~~~~")[i].split(
                "~~~~~")[0],
              name: this.slectedStr.split("~~~~~~~~~~")[i].split(
                "~~~~~")[1],
              exclude: this.slectedStr.split("~~~~~~~~~~")[i].split(
                "~~~~~")[2],
              selet: this.slectedStr.split("~~~~~~~~~~")[i].split(
                "~~~~~")[3],
              feiose: this.slectedStr.split("~~~~~~~~~~")[i],
            }
            index++;
          }
        }
        return result;
      }
    },
    methods: {
      addSlect: function(str) {
        this.slectedStr = this.slectedStr + "~~~~~~~~~~" + str;
      },
      delSlect: function(event) {
        this.slectedStr = this.slectedStr.replace($(event.target).attr(
          'data-str'), '');
        if ($(event.target).attr('data-type') == "query") {
          _query = "";
        }
        ThisPage.reloadSearchKeyAndList();
      },
      getSlectKeys: function() {
        var result = [];
        var index = 0;
        for (var i = 0; i < this.slectedStr.split("~~~~~~~~~~").length; i++) {
          if (this.slectedStr.split("~~~~~~~~~~")[i].indexOf("~~~~~") !=
            -1 && this.slectedStr.split("~~~~~~~~~~")[i].split("~~~~~")[
              0] == "key") {
            result[index] = this.slectedStr.split("~~~~~~~~~~")[i].split(
              "~~~~~")[3];
            index++;
          }
        }
        return result;
      },
      getExcludeKeys: function() {
        var result = [];
        var index = 0;
        for (var i = 0; i < this.slectedStr.split("~~~~~~~~~~").length; i++) {
          if (this.slectedStr.split("~~~~~~~~~~")[i].indexOf("~~~~~") !=
            -1 && this.slectedStr.split("~~~~~~~~~~")[i].split("~~~~~")[
              0] == "key") {
            result[index] = this.slectedStr.split("~~~~~~~~~~")[i].split(
              "~~~~~")[2];
            index++;
          }
        }
        return result;
      }
    }
  });
  if (_query != undefined && _query.length > 0) {
    wjtkeysele.slectedStr = "query~~~~~" + _query;
  }
  var wjtprosV = new Vue({
    el: "#wjtpros",
    data: {
      pros: []
    }
  });
  var ThisPage = {
    run: function() {
      this.init();
      this.render();
      this.bind();
    },
    bind: function() {
      $('.F-list-nav a li').first().css("border-left", "none");
      $('.wjtfeoirsers').on('click', function(event) {
        event.preventDefault();
        page = parseInt(page) - 1;
        ThisPage.renderProductList(page);
        return false;
      });
      $('.wjtskeorie').on('click', function(event) {
        event.preventDefault();
        page = parseInt(page) + 1;
        ThisPage.renderProductList(page);
        return false;
      });
      $("#wjtpaging").on('click',
        'a.ui-paging-item,a.ui-paging-next,a.ui-paging-prev',
        function() {
          $('.ui-paging-current').removeClass('ui-paging-current');
          $(this).addClass('ui-paging-current');
          var $this = $(this);
          page = $this.attr('href');
          ThisPage.renderProductList(page);
          $('html,body').animate({
            scrollTop: '170%'
          }, 1000);
          return false
        }).on('click', '.ui-paging-goto', function() {
        var $this = $(this)
        var $input = $this.prev('.ui-paging-which').find('input')
        var value = $input.val()
          // 必须填入数字
        value = parseInt(value, 10)
        if (isNaN(value)) {
          value = 1
        }
        if (value > pages) {
          value = pages;
        }
        ThisPage.renderProductList(value);
        $('html,body').animate({
          scrollTop: '170%'
        }, 1000);
        return false;
      });
    },
    init: function() {},
    render: function() {
      setTimeout(function() {
        ThisPage.renderProductList(1);
      }, 0);
      setTimeout(function() {
        ThisPage.renderSearchKeys();
      }, 0);
    },
    renderSearchKeys: function(sele, exclu) {
      var geturl = '/product/_api/searchkey?query=' + _query;
      if (undefined != sele && sele.length > 0) {
        for (var i = 0; i < sele.length; i++) {
          geturl = geturl + "&exclude=" + sele[i];
        }
      }
      if (undefined != exclu && exclu.length > 0) {
        for (var i = 0; i < exclu.length; i++) {
          geturl = geturl + "&exclude=" + exclu[i];
        }
      }
      $.ajax({
          url: geturl,
          type: 'GET',
          dataType: 'json',
          cache: false,
        })
        .done(function(data) {
          if (data.status) {
            wjtserkV.skeys = data.data;
          } else {
            console.info("加载搜索条件失败,信息:" + data.msg);
          }
        })
        .fail(function() {
          console.log("加载搜索条件错误");
        });
    },
    renderProductList: function(page) {
      var keys = wjtkeysele.getSlectKeys() || [];
      var geturl = '/product/_api/products?page=' + page + '&query=' +
        _query + '&order=' + order;
      if (undefined != keys && keys.length > 0) {
        for (var i = 0; i < keys.length; i++) {
          geturl = geturl + "&keys=" + keys[i];
        }
      }
      $.ajax({
          url: geturl,
          type: 'GET',
          dataType: 'json',
          cache: false,
        })
        .done(function(data) {
          if (data.status) {
            console.log(data.data.products);
            wjtprosV.pros = data.data.products;
            wjtkeysele.totle = data.data.paging.totalRow;
            pages = data.data.paging.pages;
            ThisPage.renderPaging(data.data.paging.curPage, pages);
          } else {
            console.info("加载产品列表失败,信息:" + data.msg);
          }
        })
        .fail(function() {
          console.log("加载产品列表失败");
        });

    },
    reloadSearchKeyAndList: function() {
      page = 1;
      ThisPage.renderProductList(page);
      ThisPage.renderSearchKeys(wjtkeysele.getSlectKeys(), wjtkeysele.getExcludeKeys());
    },
    renderPaging: function(_page, _totlepage) {
      var paginghtml = Paging.render({
        currentPage: _page,
        pageCount: _totlepage,
        link: ''
      });
      $("#wjtpaging").empty();
      $("#wjtpaging").html(paginghtml);
      $(".wjtjiweoruowe").empty();
      $(".wjtjiweoruowe").html(_page);
      $(".wjtjiweoruowes").empty();
      $(".wjtjiweoruowes").html(_totlepage);
    }
  };
  ThisPage.run();
})(jQuery);
