<%include('../../common/html/head')%>
<title>设置顺丰快递运费-北京北京</title>
<style media="screen">
	<%include('../../common/base.css')%>
	<%include('./css/freight.css')%>
</style>
</head>
<body>
<!-- 导航-->
<%include('../../common/header')%>
<%include('../../common/navgation')%>
<!-- 悬浮导航结束-->
<div class="auto">
<div class="content2">
	<div class="contentleft fl" id="Left">
		<div id="nav2">
			<div class="contentleft1" align="center">
				用户中心
			</div>
			<div class="title" id="menu1" onclick="showmenu('1') ">
				账号管理
			</div>
			<div id="list1" class="mrc" style="display:yes">
				<ul>
					<li><a href="#" class="font4">基础信息</a></li>
					<li><a href="#" class="font4">安全服务</a></li>
					<li><a href="#" class="font4">个人资料</a></li>
					<li><a href="#" class="font4">我的支付设置</a></li>
					<li><a href="#" class="font4">个人交易信息</a></li>
					<li><a href="#" class="font4">收货地址</a></li>
					<li><a href="#" class="font4">邮件提醒</a></li>
					<li><a href="#" class="font4">即时通讯设置</a></li>
					<li><a href="#" class="font4">分享设置</a></li>
				</ul>
			</div>
			<div class="linedot" align="center">
			</div>
			<div class="title" id="menu2" onclick="showmenu('2')">
				交易管理
			</div>
			<div id="list2" class="mrc" style="display:yes">
				<ul>
					<li><a href="#" class="font4">已买到的商品</a></li>
					<li><a href="#" class="font4">评价管理</a></li>
					<li><a href="#" class="font4">购物车</a></li>
				</ul>
			</div>
			<div class="linedot" align="center">
			</div>
			<div class="title" id="menu3" onclick="showmenu('3') ">
				我的支付
			</div>
			<div id="list3" class="mrc" style="display:yes">
				<ul>
					<li><a href="#" class="font4">账户管理</a></li>
					<li><a href="#" class="font4">交易记录</a></li>
					<li><a href="#" class="font4">收支明细</a></li>
					<li><a href="#" class="font4">银行卡管理</a></li>
				</ul>
			</div>
			<div class="linedot" align="center">
			</div>
			<div class="title" id="menu4" onclick="showmenu('4') ">
				我的收藏
			</div>
			<div id="list4" class="mrc" style="display:yes">
				<ul>
					<li><a href="#" class="font4">收藏的商品</a></li>
					<li><a href="#" class="font4">收藏的产品</a></li>
					<li><a href="#" class="font4">收藏的店铺</a></li>
					<li><a href="#" class="font4">收藏的资讯</a></li>
				</ul>
			</div>
			<div class="linedot" align="center"></div>
			<div class="title" id="menu5" onclick="showmenu('5') ">
				评论管理
			</div>
			<div id="list5" class="mrc" style="display:yes">
				<ul>
					<li><a href="#" class="font4">我的评论</a></li>
					<li><a href="#" class="font4">我的回复</a></li>
				</ul>
			</div>
		</div>

	</div>
	<div class="contentbig fl" align="center" id="Right">
		<div class="set-kdcont">
			<div>
			<select name="" id="" class="set-select">
				<option value="">顺丰速运</option>
			</select>
			</div>
			<div class="set-kd1">
				<input type="radio" name="kuaidi" class="box"/><b>使用顺丰官方运费</b> 免维护，推荐！！ 通过买家下单时选择的目的地，实时查询顺丰官网获知运费。
			</div>
			<div class="li-list">
				<li>
				<input type="checkbox" />顺丰航空寄付  实时查询
				</li>
				<li>
				<input type="checkbox" />顺丰陆运寄付  实时查询
				</li>
				<li>
				<input type="checkbox" />顺丰航空到付  运费为0
				</li>
				<li>
				<input type="checkbox" /> 顺丰陆运到付  运费为0
				</li>
			</div>
			<div class="kong50"></div>
			<div class="set-kd1">
				<input type="radio" name="kuaidi" class="box"/><b>自己设置运费</b>
			</div>
			<div class="set-kd2">
				<li>
					<input type="checkbox" class="box"/><b>顺丰航空寄付  自定义运费</b> <small>无0.5公斤续重请勿填写</small>
				</li>
				<li>
				<span class="kong"></span>默认运费 首重1KG <input type="text" class="set-int"/>元
				<span class="kong"></span>续重0.5KG<input type="text" class="set-int"/>元
				<span class="kong"></span>
				续重1KG<input type="text" class="set-int"/>元
				</li>

				<div class="bj-kuaidi2">
				<table width="100%" cellspacing="0" cellpadding="0">
					<tr class="tr-kuaidi">
						<td width="380">快递至</td><td width="140">首重1KG</td><td width="140">续重0.5KG</td><td width="140">续重1KG</td><td>操作</td>
					</tr>
					<tr>
						<td><span class="blue"><a  href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='block';document.getElementById('fade1').style.display='block'" style="color:#055d91;height: 31px;line-height: 31px;margin: 4px 4px 0 15px;padding:0 8px;">北京、天津、河北、山西</a> </span></td><td><input type="text" class="int-kg" value="6"/>元</td><td><input type="text" class="int-kg" value="4"/>元</td><td><input type="text" class="int-kg" value="5"/>元</td><td><input type="button" class="int-del" value="删除"/></td>
					</tr>
					<tr>
						<td><span class="blue"><a>河北、山西</a>  </span></td><td><input type="text" class="int-kg" value="12"/>元</td><td><input type="text" class="int-kg" value="8"/>元</td><td><input type="text" class="int-kg" value="10"/>元</td><td><input type="button" class="int-del" value="删除"/></td>
					</tr>
				</table>
				<li><span class="kong"></span><a href="#">为指定地区/城市单独设置运费</a></li>

			</div>
			</div>



			<div class="kong38"></div>


			<div class="set-kd2">
				<li>
					<input type="checkbox" class="box"/><b>顺丰航空寄付  自定义运费</b> <small>无0.5公斤续重请勿填写</small>
				</li>
				<li>
				<span class="kong"></span>默认运费 首重1KG <input type="text" class="set-int"/>元
				<span class="kong"></span>续重0.5KG<input type="text" class="set-int"/>元
				<span class="kong"></span>
				续重1KG<input type="text" class="set-int"/>元
				</li>

				<div class="bj-kuaidi2">
				<table width="100%" cellspacing="0" cellpadding="0">
					<tr class="tr-kuaidi">
						<td width="380">快递至</td><td width="140">首重1KG</td><td width="140">续重0.5KG</td><td width="140">续重1KG</td><td>操作</td>
					</tr>
					<tr>
						<td><span class="blue"><a>北京、天津、河北、山西</a></span></td><td><input type="text" class="int-kg" value="6"/>元</td><td><input type="text" class="int-kg" value="4"/>元</td><td><input type="text" class="int-kg" value="5"/>元</td><td><input type="button" class="int-del" value="删除"/></td>
					</tr>
					<tr>
						<td><span class="blue"><a>河北、山西</a> </span></td><td><input type="text" class="int-kg" value="12"/>元</td><td><input type="text" class="int-kg" value="8"/>元</td><td><input type="text" class="int-kg" value="10"/>元</td><td><input type="button" class="int-del" value="删除"/></td>
					</tr>
				</table>
				<li><span class="kong"></span><a href="#">为指定地区/城市单独设置运费</a></li>

			</div>
			</div>




			<div class="set-kd2" style="margin-bottom:30px;">
				<li>
					<input type="checkbox" class="box"/><b>顺丰航空寄付  自定义运费</b> <small>无0.5公斤续重请勿填写</small>
				</li>
				<li>
				<span class="kong"></span>默认运费 首重1KG <input type="text" class="set-int"/>元
				<span class="kong"></span>续重0.5KG<input type="text" class="set-int"/>元
				<span class="kong"></span>
				续重1KG<input type="text" class="set-int"/>元
				</li>
				<li><span class="kong"></span><a href="#">为指定地区/城市单独设置运费</a></li>
				<div class="kong38"></div>
				<li>
					<input type="checkbox" class="box"/><b>顺丰航空寄付  运费为0</b>
				</li>
				<li>
					<input type="checkbox" class="box"/><b>顺丰航空寄付  运费为0</b>
				</li>
				<li class="kd-tijiao">
					<input type="submit" value="保存并返回" class="kd-btn1"/>
					<input type="submit" value="取消" class="kd-btn2"/>
				</li>
			</div>

		</div>


	</div>
</div>
</div>


<!-- 弹出层 -->

<div id="light1" class="white_content1" style="position:absolute;left:30.73%;top:67.8%;">


		<div class="jixu-area3" style="top:22px;display:block;">

							<div class="jixu-area301" style="margin-top:-4px;margin-bottom:7px;">选择地区 <a href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='none';document.getElementById('fade1').style.display='none'" style="float:right;color: #055d91;height: 15px;width: 15px;line-height: 15px;text-align: center;border-radius: 3px;margin-top:6px;border: 1px solid #055d91;cursor: pointer;">X</a></div>
							<div class="jixu-area302">
							<li>
							<span class="fl"><input type="checkbox" name="diqu" />华东 </span>
							<input type="checkbox" name="diqu" />上海
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />江苏
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />浙江
							<select name="" id="">
								<option value=""></option>
							</select>

							<input type="checkbox" name="diqu" />安徽
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />江西
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>
							<li>
							<span class="fl"><input type="checkbox" name="diqu" />华北</span>
							<input type="checkbox" name="diqu" />北京
							<select name="" id="">
								<option value=""></option>
							</select>

							<input type="checkbox" name="diqu" />天津
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />山西
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />山东
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />河北
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />内蒙古
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />华中</span>
							<input type="checkbox" name="diqu" />湖南
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />湖北
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />河南
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />华男</span>
							<input type="checkbox" name="diqu" />广东
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />广西
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />福建
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />海南
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />东北</span>
							<input type="checkbox" name="diqu" />辽宁
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />吉林
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />黑龙江
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />东北</span>
							<input type="checkbox" name="diqu" />陕西
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />新疆
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />甘肃
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />宁夏
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />青海
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />西南</span>
							<input type="checkbox" name="diqu" />重庆
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />云南
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />贵州
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />西藏
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />四川
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />港澳台</span>
							<input type="checkbox" name="diqu" />香港
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />澳门
							<select name="" id="">
								<option value=""></option>
							</select>
							<input type="checkbox" name="diqu" />台湾
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							<li>
							<span class="fl"><input type="checkbox" name="diqu" />海外</span>
							<input type="checkbox" name="diqu" />海外
							<select name="" id="">
								<option value=""></option>
							</select>
							</li>

							</div>

							</div>


</div>

<div id="fade1" class="black_overlay1"></div>

<%include('../../common/footer')%>
<%include('../../common/base')%>
<script>
		<%include('./js/freight.js')%>
</script>
<script type="text/javascript" src="style/jquery.js"></script>
<script type="text/javascript">$(function(){var h=$("#Left").height(),t=$("#Right").height();h>t?$("#Right").height(h):$("#Left").height(t)});</script>
</body>
</html>
